[2013-05-26 18:54] arunoda opened #1 "Better test creation tools"
Current eventEmitter based test creation api just work. But it bit hard to use and see. Solution for this is to give some better tools to write tests
- [x] evalSync(). support
- [x] actions support
- [ ] default set of useful actions
- [ ] documentation

[2013-05-26 18:57] arunoda opened #2 "Better Error reporting"
Error's occured in the server code tracked in a nasty way inside `lib/app.js`. Need to move it to `ServerConnector`

There is no reporting for client side errors. PhantomJS `onError` can be used for this.

[2013-05-27 21:03] arunoda commented on #2
fixed in 2a56f0a9a86557cb596dcb3bfb142be4f5cb7471

[2013-05-27 21:03] #2 closed, assigned to arunoda

[2013-05-28 14:03] wbashir opened #3 "Javascript Function Testing"
Can i create function/Unit test with 'laika' ?  I have packages/modules written that are used by my Meteor.Methods to fetch and process data. I would like to test an entire suite of them using some sort of a match ?

[2013-05-28 20:51] arunoda commented on #3
You can use `laika` for the functional testing. Just use `server.eval()` to run you codes on the server and get the result. If your package can be access with the meteor app, then it can be tested with laika.

See some examples: http://arunoda.github.io/laika/examples.html

did I answer your question?

[2013-05-28 20:52] arunoda opened #4 "PhantomJS and localStorage"
Meteor Uses localStorage to store logged-in user info.
PhantomJS pages share localStorage values. So It is not possible to have clients with diff users logged right now.
## Possible Solutions
### Try loading pages with different hostnames (EASY)
- possible to use 3 clients with commonly available hostnames (localhost, 127.0.0.1, 0.0.0.0)
### Proxy Meteor App to load from different port
#### Option

[2013-05-28 21:43] wbashir commented on #3
Yep, that answers my question. I was looking for the server.eval() method. I am looking to get started next week on testing.

Thanks

[2013-05-28 21:43] #3 closed, assigned to nobody

[2013-05-30 19:04] arunoda opened #5 "Create default set of actions"
Create common tasks as actions and make it can be extended pretty easily (easy to make pull requests)

[2013-05-30 19:08] arunoda opened #6 "Wait until dropping database before quit"
app.close() takes a callback as an argument to tell us db has been dropped.

But when we are closing them (using appPool) at the end, we don't care about this callback and it db does not get dropped.

[2013-05-30 19:09] arunoda commented on #1
related #5

[2013-05-31 10:40] arunoda commented on #6
fixed in d520e6b96b004e3e54543e59d6ba89986f696228

But still some edge cases, one db stays without getting cleaned.
**So it is best to always open a mongod with custom dataDirectory and clean after tests has been executed**

[2013-05-31 10:46] #6 closed, assigned to arunoda

[2013-06-01 21:31] arunoda opened #7 "Errors does not throws correctly inside the fiber"
After the `Future` usage, any errors throws in the main callback gets ignored and simply system get closed with a stdout. So now `mocha` cannot track errors.
### Fix

If the assert module is in the Fiber's main callback simply use futures to execute the actual function

[2013-06-02 06:34] #7 closed, assigned to arunoda

[2013-06-07 02:31] arunoda opened #8 "Do not exit when there is an error"

[2013-06-07 05:57] srounce opened #9 "Weird API"
First, great work. I'm really looking forward to using Laika!

However, first thing that struck me as soon as I read the docs was the fugly naming conventions of pretty much the whole API. Things such as 'ltest' and 'emit'/'once'/'on' doesn't seem very intuitive. Couldn't 'ltest' just be 'laika'. The value of _laika_ would depend on the test style (tdd/bdd/etc.)

As for things such as 'eval' and '

[2013-06-07 05:59] timhaines commented on #9
I found some friction with the naming too..

[2013-06-07 06:04] srounce commented on #9
Suggestions?

[2013-06-07 07:04] arunoda commented on #9
thanks for the interest in laika.

Yes. `ltest` is a really bad name. I wish I could use `test` but it clouldn't. `laika` is a pretty good alternative.

`emit/once/on` these are derived from the EventEmitter in nodejs and it does the exact functionality.

I prefer using `eval` instead in `run` since we actually evaluating a string at the end. And you won't have the closure support in the  `eval` t

[2013-06-07 07:10] srounce commented on #9
@arunoda Define, 'evaluating a string'.

[2013-06-07 07:12] arunoda commented on #9
see: http://goo.gl/Eamme

On Fri, Jun 7, 2013 at 12:40 PM, Samuel Rounce notifications@github.comwrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-06-07 07:12] arunoda commented on #9
And try to see [concept section](http://arunoda.github.io/laika/concepts.html) for how we do this internally.

[2013-06-07 07:14] srounce commented on #9
I fully understand this, however, `eval` takes a `Function` as it's argument, no? How it's handled internally means sweet F.A. to the end user.

[2013-06-07 07:21] arunoda commented on #9
I got your point my friend :)
But I prefer to name it has eval since I'm evaluating stringified version
of the function in the server and the client.

Internally in the server I use JS eval function - http://goo.gl/qr4X8
And for the client I use phantomJs's .evaluate() - http://goo.gl/Efa8q

And I'll consider making `ltest` into `laika` in the previous versions.
Need to find out how others think a

[2013-06-07 19:07] malkomalko commented on #9
I'm a big fan of facts/fact:

[code]

[2013-06-07 19:16] arunoda commented on #9
Nice. any place where this is used? any testing framework

[2013-06-07 20:26] malkomalko commented on #9
https://github.com/josephwilk/amrita
https://github.com/marick/Midje

[2013-06-07 21:47] srounce commented on #9
+1 on the use of _facts_. Semantically, it seems appropriate.

[2013-06-07 22:37] malkomalko commented on #9
also I don't like .eval either... I'd much rather have .run for client/server.  you even say yourself in the free screencast "In order to run code on the server", so semantically I think it makes much more sense.

[2013-06-08 14:13] arunoda commented on #9
I've marked `ltest` as deprecated and you can use `test` instead now. (with laika version `0.1.22`)

`facts` style is good, I like it, unfortunately `mocha` does not support it.

`eval` and `evalSync` won't get changed. sorry for that.

[2013-06-08 14:13] #9 closed, assigned to nobody

[2013-06-11 20:40] zvictor commented on #8
+1

[2013-06-11 20:44] zvictor commented on #8
I am not sure if that is the matter being discussed here, but the following should be accepted:

[code]

For now it prints an `Uncaught [ Server Crashed ] Error` on the console.

[2013-06-11 21:00] arunoda commented on #8
I hope this `should` method comes from should js libraray?
Unfortunately there is no way to install custom nodejs modules. But I have plans to work on it.

Possible solution is something like this

[code]

unfortunately it is also not working. Laika can't catch exceptions like this yet occurred from the server

[2013-06-11 21:01] arunoda opened #10 ".evalSync() server error catch"
Make it possible to use following

[code]

[2013-06-11 21:02] arunoda commented on #8
I created a new issue for this #10

[2013-06-11 21:22] zvictor commented on #8
Yeah, it is a `should.js` method.
I am using `should` inside of my laika tests without problems and this method is the only one that does not work.

My temporary solution is to use try/catch in the server and emit a flagged result to laika.

[2013-06-11 21:24] arunoda commented on #8
Yes. That'll fix for now. I'll work on evalSync() error catching.
BTW: How do you use `should.js` with this. Did you install it to your
meteor project?

On Wed, Jun 12, 2013 at 2:52 AM, zVictor notifications@github.com wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-06-11 21:36] zvictor commented on #8
No. I have installed it globally and just required it in a _setup.js_ I added in **/test**.

setup.js:

[code]

[2013-06-11 21:41] arunoda commented on #8
Ah cool. That should work. :)

On Wed, Jun 12, 2013 at 3:06 AM, zVictor notifications@github.com wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-06-12 05:55] #8 closed, assigned to arunoda

[2013-06-12 05:57] arunoda commented on #8
We can continue the conversation related to error catching in `.evalSycn` in #10

[2013-06-12 18:05] zvictor opened #13 "Implement Collections and fixtures"
As seen on [extendind Laika](https://github.com/zvictor/laika-extended-example) example, we can extend Laika to use Collections in the same way we would use Meteor API, but extendind we have to declare `Collection` inside of each `test`.

Can we make `Collection` natively available inside `test`?
Can we also support fixtures?

[2013-06-12 18:53] arunoda commented on #13
This is a really good idea!

I prefer to have an API like `server.Collection` and `client.Collection`

[code]

What you think?

I think for the fixtures we can add it our actions API (not documented yet)
See: http://goo.gl/JPuRF

If we added it to actions we can simply use it like this.

[code]

What you think about it?

[2013-06-12 19:39] zvictor commented on #13
great idea! `server.Collection` and `client.Collection` are even better.

About the fixtures I thought we could attach a copy of the fixtures in a key of the respective collection, been able to use this way:

[code]

I think I haven't got the idea of actions, but it is important to keep the simplicity of the "extendind Laika" example when defining the fixtures data.

I like the idea of having file

[2013-06-12 20:17] arunoda commented on #13
okay. forget about actions. Let's think about some API for fixtures.
How about this.
- We can place fixture data in .json file inside `fixtures/<Coll Name>.json`
- Then we can automatically load these
- And also we can have a `laika.addFixtures()` api too

for running we can simply use your functions, with `laika` prefixed.

[code]

for the querying it. I think following makes sense too

[code]

[2013-06-13 02:51] zvictor commented on #13
I agree with almost everything, but I prefer `Posts.fixtures` rather than `fixtures['Posts']`.
The latter one leads to a misleading: should I write `fixtures['Posts']` or `fixtures['posts']`?

Note: I reviewed my implementation of Collections and replaced the `eval(collName)` by `Meteor._RemoteCollectionDriver.open(collName)`. Before that, the user was supposed to type `Collection('Posts')` instea

[2013-06-13 03:34] zvictor opened #14 "leak: lot of mongo databases are created and not deleted"
I observed that when running Laika, a lot of mongo databases are created and not deleted.
I have to run the following code at shell every some while:

[code]

Note: I am not using the _options that makes testing much speeder_ recommended on docs.

[2013-06-13 04:28] arunoda commented on #13
Okay. That's nice.
Now it is possible this. Thats nice. We'll use `collName` as the actual collection name.

PS. I didn't knew about `Meteor._RemoteCollectionDriver.open()`

[2013-06-13 04:35] arunoda commented on #14
Yes. this is really an issue I discovered from the day one.
But actually I could find a solution.

`Laika` drops the the db after the test has been ended.
However everytime there is a single db stayed without deleting itself.
I could find a way yet, to figure out the cause.

related: #6

This is pretty big issue. I still trying to find out the problem.
In the meantime, only solution is to delete t

[2013-06-13 16:22] hoolymama opened #15 "test using client and server always gives timeout"
I'm just trying to run the test: 'using both client and the server' as per the demo

[code]

However I always get a timeout.

[code]

The 'in the server' test passes ok. Maybe its something to do with observe()? Increasing the timeout period does not help. I'm not sure how to get some output to help narrow things down a bit.

Any ideas?

I'd really like to use laika as it looks like it will simpli

[2013-06-13 17:28] arunoda commented on #15
Try this and see

[code]

OR

[code]

[2013-06-13 17:30] arunoda commented on #13
Are you working on this, or shall I start?

[2013-06-13 18:57] zvictor commented on #13
I cannot work on this now, so would be nice if you could.

this `Meteor._RemoteCollectionDriver.open()` I found digging Meteor at _packages/mongo-livedata/collection.js_.
As you want to implement Collections for the client also, I would suggest you to take a better look from line 57 to 65:

[code]

It seems to me that `_LocalCollectionDriver` should be used in the client side.

[2013-06-13 18:59] arunoda commented on #13
Awesome. I'll work on this.

On Fri, Jun 14, 2013 at 12:27 AM, zVictor notifications@github.com wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-06-14 10:24] arunoda commented on #14
I think rather than figuring out the problem (much harder), we could prefix dbs with `laika-`. And before running any test, we can simply delete databases already leaking.

need to figure out, weather it took more time to start the testing? but it won't be a problem.

[2013-06-14 10:30] arunoda opened #16 "Pool mongodb databases"
Rather than creating db for each test, try to pool databases and clean it after the use.

This may cause, tests to run faster.

[2013-06-14 17:44] arunoda commented on #14
BTW: I found the cause for this. Added a fix. see: 257885d1a3d361d48b777244c39f4178e932722a

@zvictor I updated the npm, can you verify the fix. I can then release 0.2. This cause me to stay in 0.1

[2013-06-14 19:16] Twark commented on #15
I've the same issue here. The two other solutions doesn't seem to work either for me.
I also tried on another example (user authorization), with the same results.

[2013-06-14 19:26] arunoda commented on #15
The code you provide, works for me. Can you please tell me bit about your env.
Try updating laika too.

[2013-06-14 19:43] Twark commented on #15
Good news : I think it's linked with the node version I'm using. The error currently occurs with node 0.10.10. I tried to switch to 0.10.4 (I'm using homebrew on os x), the tests are now working (even the original test)
It would be interesting to know if anyone also has the same issue with the same node version.

[2013-06-14 19:45] arunoda commented on #15
hmmm. Interesting.
BTW: you got it fixed. That's the best part :)

On Sat, Jun 15, 2013 at 1:13 AM, Twark notifications@github.com wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-06-16 01:34] hoolymama commented on #15
Yes I am using node 0.10.10 too. I tried the solutions above, and I tried in a different login and with hello-laika.
@Twark thanks for tracking it down. I'll go back to  node 0.10.4  I guess

[2013-06-16 06:26] snize commented on #15
On node v0.10.11 (using homebrew on osx) doesn't gives timeout.

[2013-06-17 05:13] arunoda commented on #14
Above fix introduced some other nasty leaking issue. Now both are fixed here 0c30007cb1fae1c4e904eb325dc84439ea5f18c6 & 6e459e2345d6aef6332d3a8cb1a56d7fbdf83c2d

`published to npm with 0.1.25`

[2013-06-19 11:00] subhog opened #17 "Hangs without notification"
When I run the `laika` command on my app, it hangs on `loading phantomjs` info. I get no message error, nor any reason why things don't work.

It's not a problem with phantom - when trying in the sample app (https://github.com/arunoda/hello-laika), it goes past this steps (and hangs later).

[2013-06-19 11:08] arunoda commented on #17
Can you please run the app first without laika?

[2013-06-19 11:37] subhog commented on #17
I've run the app many times before.

[2013-06-19 11:57] arunoda commented on #17
Can you please tell me your system info.

Meteor/meteorite version.
Are you running on the latest version? If not try to update.

On Wednesday, June 19, 2013, subhog wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-06-19 13:04] subhog commented on #17
I've updated node to 0.10.12, now it works. Thanks!

[2013-06-19 13:04] #17 closed, assigned to nobody

[2013-06-19 13:06] subhog opened #18 "Module version mismatch"
When I run `laika` commmand, I'm greeted with four such error messages:

[code]

After that, tests proceed normally. The nodetime package works smoothly in normal app run.

[2013-06-19 13:09] arunoda commented on #18
This is expected. You need to rebuild nodetime after node version change.

On Wednesday, June 19, 2013, subhog wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-06-19 22:02] zvictor commented on #14
I have tried now, and it seems to be working smoothly! thanks!

[2013-06-20 01:11] zvictor commented on #14
actually, it is not okay...
laika is freezing in **cleaning up injected code** message, and the databases are not being deleted.

these are my databases now:

[code]

[2013-06-20 04:58] #18 closed, assigned to nobody

[2013-06-20 06:02] arunoda commented on #4
added upto 3 users with f86a4c4a0aec899b62c1a0baa41e698832f66920

Closed. Will be open when we need more clients (we can deal with 3 clients for now)

[2013-06-20 06:02] #4 closed, assigned to arunoda

[2013-06-20 06:29] arunoda commented on #17
There are some issues working with following node versions. upgrade to something else (prefer latest)
- 0.10.8
- 0.10.9
- 0.10.10

[2013-06-20 06:31] arunoda commented on #15
There are some issues working with following node versions. upgrade to something else (prefer latest)
- 0.10.8
- 0.10.9
- 0.10.10

[2013-06-20 06:31] #15 closed, assigned to nobody

[2013-06-25 00:51] zvictor commented on #16
sounds good

[2013-06-25 01:31] zvictor opened #20 "add Meteor log/debug compatibility"
For debugging purposes, would be interesting to have a way to see what the Meteor is printing on the console during the execution of Laika.

A `--debug` option to use with _node-inspector_ would be even better.

[2013-06-25 01:41] arunoda commented on #20
Yes. printing client and server and logs to the console will be really useful. Yes. we can enable this as an option.

BTW: I'm wondering how we can use node-inspector with laika. What should be the final result of using node-inspector with laika.

[2013-06-25 16:36] arunoda commented on #14
Now we do start laika tests with cleaning up the laika dbs first. It only tooks ~50 ms. So nothing to worry about.
Please reopen if the leak exists in the latest version of laika.

[2013-06-25 16:36] #14 closed, assigned to arunoda

[2013-06-25 19:25] arunoda commented on #10
Now we can catch errors in the evalSync. But it is not possible to use `assert.thorws()` since `evalSync` needs to be fired from the main callback.

So you have to write it with try-catch block

[code]

Fixed in: a55897ea36c295f467868afbd10b69215b6d09ca (laika version: 0.1.29)

[2013-06-25 19:39] arunoda opened #21 "More Tests"
Need more tests to cover laika specific features.
Try to write tests in laika itself.

[2013-06-25 19:44] arunoda opened #22 "If no server requested, do not get a one from pool"
Currently even though a Server is requested a server is fetching from the pool and get closed without using it.
When doing unit tests this makes it is very inefficient.

Eg:-

[code]

[2013-06-26 11:27] arunoda opened #23 "Once fibers reinstalled, automatically restart the tests"
Currently fibers re-installed if needed, laika asks us to re-run laika.
That cause tests to fail in [CI env like travis](https://travis-ci.org/arunoda/meteor-streams/jobs/8380279#L241)

So make it re-run tests automatically

[2013-06-26 17:02] zvictor commented on #10
**Awesome!** But it is not perfect yet, I found a bug =/

It just works for me if I do not run any `evalSync` before the `try` clause.
Otherwise, we are gonna have an error. Code:

[code]

output:

[code]

[2013-06-26 23:31] arunoda commented on #10
Yes. That was a huge mistake myself.
I fixed it.

But I encounter some other edge case with try catch.
Now errors we are not capturing will cause laika to exits immediately and not mocha to capture them.
That is because the how fibers work. BTW: I'm not a fiber expert :)

So I fight with this. And the way all work is as below.

[code]

`evalSyncExpcectError` first errorMessage argument is optional

[2013-06-27 00:31] zvictor commented on #10
that is okay for now.
I am just worried about the name <i>Exp</i>**C**<i>ect</i>. Isn't it a typo?

[2013-06-27 00:33] arunoda commented on #10
Yes. It is typo in the code. Will fix that now.

[2013-06-27 00:38] arunoda commented on #10
fixed in 0.2.2

[2013-06-27 17:18] cdcme opened #24 "Using HTML reporter causes crash"
[code]

[2013-06-27 17:27] arunoda commented on #24
Yes. It is not working for somehow. Need to know why?
I've never used it before.

[2013-06-30 22:04] EricTheMagician opened #25 "Server Test Timeout"
Hi,

There was an issue previously reported on StackOverFlow:
http://stackoverflow.com/questions/17056068/meteorjs-laika-client-and-server-test-timout

I'm currently running nodejs 0.10.12 on MacOSX 10.7 and I am still experiencing the same issue.

Edit: I meant I'm on mac 10.8

[2013-07-01 01:49] arunoda commented on #25
Okay you get a screenshot of the console?
Also is it possible to share the test code ?

[2013-07-01 02:02] EricTheMagician commented on #25
![screen shot 2013-06-30 at 9 57 55 pm](https://f.cloud.github.com/assets/323436/728194/cacea36a-e1f1-11e2-9489-8e09d21740a6.png)

Here you go. I attached a screenshot with the console and the code. Its really simple tests that I am trying to setup.

If make the test run on the server (ie replace client with server), the test runs.

I installed PhatomJS 1.9.1 through homebrew.

[2013-07-01 02:34] arunoda commented on #25
Hmm, pretty weird.
I updated phantomjs and it works correctly.

Can ensure do you have laika version `0.2.2`? (`laika -v`)
If not upgrade it.

Try to clone https://github.com/arunoda/laika and run tests on the locally.
you can do with `npm test`

Lets see if it gives an error?

On Mon, Jul 1, 2013 at 7:32 AM, thejinx0r notifications@github.com wrote:

##

Arunoda Susiripala

@arunoda http://twitte

[2013-07-01 02:43] EricTheMagician commented on #25
I was running the latest laika version.

When I cloned the repo and ran the test, this is the error I got.

I also made sure to reinstall mocha, but I still got the same error.

[2013-07-01 02:46] arunoda commented on #25
You've to first install dependancies with `npm install`

Then try.

On Mon, Jul 1, 2013 at 8:13 AM, thejinx0r notifications@github.com wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-07-01 02:52] EricTheMagician commented on #25
I did that,
And all the tests are passing now.

[2013-07-01 02:56] arunoda commented on #25
Hmm. I wonder what cause the issue.

Can you try evalSync instead sync -
http://arunoda.github.io/laika/syntax-suger.html ?

On Mon, Jul 1, 2013 at 8:22 AM, thejinx0r notifications@github.com wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-07-01 03:12] EricTheMagician commented on #25
I tried evalSync instead. Same error.
I wrapped the code in evalSync in a setTimeout. Same error.
I replaced client.evalSync with server.evalSync. Same error. ( replacing client with server was previously working)
I replaced server.evalSync with server.eval. it works again.

(Yes, I made sure to comment out the client/server.once call after he evalSync calls)

[2013-07-03 22:46] zvictor opened #26 "False values are being transformed in null"
In the following example the `false` value emitted is being received as `null`.
However, passing a `true` value instead of `false` is received okay.

[code]

[code]

[2013-07-04 00:41] #26 closed, assigned to nobody

[2013-07-04 00:42] arunoda commented on #26
published as `0.2.6`

[2013-07-04 01:27] arunoda commented on #23
This is invalid since we no longer needs to reinstall fibers. see 5225ca2915bc01315db81aacee09cabcc96a4fe7

[2013-07-04 01:27] #23 closed, assigned to nobody

[2013-07-04 01:29] arunoda commented on #20
This option added in version `0.2.5` see 848f0c7f07e01dfcbca20292ed9e95726fe7850a

You can see additional logs with -d option.

[code]

[2013-07-04 01:29] #20 closed, assigned to nobody

[2013-07-04 01:31] arunoda commented on #16
I've done few tests. The bottleneck is in the clients. Not in the server and mongodb. So mongodb optimisation does not helps much to run tests faster.

So this issue will be still open but not for the milestone 0.3

[2013-07-04 23:09] RobertLowe commented on #17
Ran into this, it should at least check what version of meteor you have.

[2013-07-04 23:13] arunoda commented on #17
@RobertLowe Do you still having the issue after updating the node. There is no issues with meteor versions.
BTW you can update laika and use -d to show some debug logs

[2013-07-05 17:37] zvictor opened #27 "Alternative to `once`"
I am trying to test reactivity, so it is expected to emit values more than once. How to treat this?  Are there any alternatives for the `once` method? Where is this `once` method defined?

[2013-07-05 17:40] arunoda commented on #27
try on instead.

On Fri, Jul 5, 2013 at 11:07 PM, zVictor notifications@github.com wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-07-05 17:48] zvictor commented on #27
Oh, for sure! I have forgotten the `on` method, but examples of it can be found [here](http://arunoda.github.io/laika/syntax-suger.html).

So, are these methods being inherited from the nodejs [EventEmitter](http://nodejs.org/api/events.html#events_emitter_on_event_listener)?

[2013-07-05 17:49] arunoda commented on #27
Yes. Exactly.

On Fri, Jul 5, 2013 at 11:18 PM, zVictor notifications@github.com wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-07-05 19:46] arunoda commented on #27
Hope I can close this.

[2013-07-05 19:46] #27 closed, assigned to nobody

[2013-07-08 12:55] EricTheMagician commented on #25
Problem partially solved.

I have some server code that loads a fair amount of data into the database.
When I comment out that line of code, it works.

But obviously, I don't want to have to comment out my code to run the test.
So, is there any way for me, from within my code to identify if it is running the laika tests or not?

[2013-07-08 15:22] kevinharvey commented on #25
I had the same problem with some code in a Meteor.startup() block that preloaded a bunch of data. I added an environment variable to my Laika run, checking for the environment variable in the startup script, and not running the load script if the environment variable was true.

**Command**

[code]

**Code**

[code]

The downside of course is that you have to create any data you want preloaded in t

[2013-07-08 15:52] EricTheMagician commented on #25
Perfect.
I will do that.

Since it's pretty much solved, and I'm not a heavy github user, I have a github etiquette question.
should I close this issue? or leave it opened as a feature request?

[2013-07-08 15:56] arunoda commented on #25
Fixtures is a features we should badly needed. You can close the issue. We'll open another issue for the fixtures and continue the discussion on it.

[2013-07-08 15:58] #25 closed, assigned to nobody

[2013-07-08 16:01] arunoda opened #29 "Fixtures Support"
For the testing app needs some sample data. But when inserting them at the runtime, causes tests to be run slower and occurs a timeout. (Since inserting data takes some time)

We need a support for fixtures from laika, that will be loaded before the tests.

related #25

[2013-07-08 18:31] kevinharvey opened #30 "As of 0.2.9, cannot call single .js file"
This works in 0.2.8, but not 0.2.9:

[code]

[2013-07-08 18:50] arunoda commented on #30
Yes. This is a bug introduced in 0.2.9.
Let me fix this.

[2013-07-08 23:19] arunoda commented on #30
fixed and published to `0.2.10`

[2013-07-09 11:50] #30 closed, assigned to nobody

[2013-07-10 04:32] Crenshinibon opened #31 "CoffeeScript support"
Laika should support, that Meteor app and package code as well as Laika test code is written in CoffeeScript.

[2013-07-10 04:34] arunoda commented on #31
Yes. This is a must to do.
For now, you can complile coffee into js before running tests.

Also patches are welcome :)

On Wed, Jul 10, 2013 at 10:02 AM, Dirk Porsche notifications@github.comwrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-07-10 05:18] Crenshinibon commented on #31
Yes, I can validate this workaround.

I will have a look at the sources. In case I find my way around easily, I will try to make 'native' CoffeeScript work. What is your preferred way this should work?

Looking at the apps packages and in case CoffeeScript is installed pick up CoffeeScript test files?
In case there are CoffeeScript test files pick them straight up?
A 'compiler' option when startin

[2013-07-10 05:22] arunoda commented on #31
I think compile option would be great. Since laika uses mocha internally, I
think this will be pretty easy.
I prefer auto detecting .cofee files and compile automatically.

See `bin/_laika` for the mocha invocation

On Wed, Jul 10, 2013 at 10:49 AM, Dirk Porsche notifications@github.comwrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/aru

[2013-07-11 06:01] #22 closed, assigned to nobody

[2013-07-11 06:02] arunoda commented on #22
released as `0.2.11`

[2013-07-11 07:24] arunoda opened #33 "Use lates node-phantom-simple"
Try to use node-phantom-simple[0]. Which has some good communication pattern with phantom binary.

[0] - https://github.com/baudehlo/node-phantom-simple

[2013-07-12 06:31] arunoda commented on #31
added in version `0.2.12`
see #32 for more info

[2013-07-12 06:31] #31 closed, assigned to nobody

[2013-07-12 06:32] arunoda opened #34 "Added mocha like require support"

[2013-07-12 12:59] #10 closed, assigned to nobody

[2013-07-14 16:41] arunoda opened #35 "Make client tests faster"
We can do some phantomjs based optimizations.
- ask phantomjs to not to load images[0]
- ask phantomjs to cache[0]
- ask phantomjs to not to load css[1]

[0] - https://github.com/ariya/phantomjs/wiki/API-Reference#command-line-options
[1] - http://stackoverflow.com/questions/9486377/how-can-i-control-phantomjs-to-skip-download-some-kind-of-resource

[2013-07-14 17:24] arunoda opened #36 "Added METEOR_PATH env"
Allow laika to accept `METEOR_PATH` env variable with custom installed meteor version so, it could find the correct node binary

[2013-07-14 17:25] arunoda commented on #36
added in 7bae13b

released as `0.2.14`

[2013-07-14 17:25] #36 closed, assigned to nobody

[2013-07-17 16:45] lacco opened #37 "[Questions] Acceptance testing + using other libraries"
Hi! I just started learning Meteor this week, and I am trying to integrate laika as test framework. During this process I stumpled upon two questions:
1. I would like to do some kind of acceptance testing with asynronous actions, i.e. something like: "When user clicks button X, Y should happen". In code:

[code]

How do I solve this, do I have to use something like `setTimeout`?
1. I would like to

[2013-07-17 19:55] arunoda commented on #37
- For acceptance testing, laika is not good yet! See @xolvio 's https://github.com/xolvio/rtd
- You can try installing `sinon` globally and use. hope @zvictor can help you out.

[2013-07-18 20:35] #37 closed, assigned to nobody

[2013-07-21 01:01] wbashir opened #38 "Buffer encoding error"
I might be missing something here but does laika not work with node `v0.8.16`. I tried running and i get this odd error.

` injecting laika...
  loading phantomjs...
  loading initial app pool...

buffer.js:434
      throw new Error('Unknown encoding');
            ^
Error: Unknown encoding
    at Buffer.toString (buffer.js:434:13)
    at Object.fs.readFileSync (fs.js:236:33)
    at Object.getMete

[2013-07-21 01:15] arunoda commented on #38
This is something weird. I tried locally with this node version. Works for me.

Anyway: this is the line cause the error: https://github.com/arunoda/laika/blob/master/lib/helpers.js#L42
I'm doing it correctly. Not sure about the error. Try updating node to a later version

[2013-07-21 01:36] wbashir commented on #38
How are you running laika. Do you have mongo and meteor running then execute the laika command?

[2013-07-21 01:37] arunoda commented on #38
mongo and laika only.

On Sun, Jul 21, 2013 at 7:06 AM, warsamebashir notifications@github.comwrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-07-21 20:05] wbashir commented on #38
laika code injected and listening on: 19630

Shows up even when i am not running a separate mongo instance or laika itsefl?

[2013-07-22 00:50] arunoda commented on #38
Laika injects some code to your project. It is a 2 files with the same
name. On *client *and *server *folder.
If laika runs okay, it will remove those files. But now it doesn't. Please
remove those files before you send them to production.

On Mon, Jul 22, 2013 at 1:35 AM, warsamebashir notifications@github.comwrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arun

[2013-07-22 16:56] boekkooi opened #39 "Laika hang when in a hidden directory"
executing laika in a hidden directory (for example '.laika') will make it hang on `loading initial app pool...`.
It looks like the meteor server is not starting correctly.

Recreate using:

[code]

[2013-07-24 08:07] arunoda commented on #35
- Stop Loading images gives some small results. (so added it)
- Disk Caching makes things even worse
- CSS stopping has no efffect

[2013-07-24 08:07] #35 closed, assigned to nobody

[2013-07-24 08:42] arunoda commented on #33
This makes creating pages slower than `node-phantom`. So not usable for laika.

[2013-07-24 08:42] #33 closed, assigned to nobody

[2013-07-24 08:55] arunoda opened #40 "Pre create client when app is adding to the pool"
With the amount of workload in the app, client takes some times to get load. That makes testing slow.

So, pre creating a client when the app is being adding to the page, may give some speed boost.

[2013-08-03 17:41] sterlingwes opened #43 "Failed test (timeout) with example #2 in docs"
Looks like others have experienced this issue (http://stackoverflow.com/questions/17056068/meteorjs-laika-client-and-server-test-timout), namely:

Failure on test 2 of example 2 ("using both client and the server")

Error is "timeout of 2000ms exceeded"

I've tried suggested fixes in the SO question, including upgrading my Node.js version to no avail. Does anyone have a workaround? Otherwise, seem

[2013-08-05 04:22] EricTheMagician opened #44 "Uncaught Assertion Error"
Currently on laika 0.2.2 and nodejs 0.10.15

When one of my assertion fails, the rest of the tests fail as well with the same errror.

[code]

My assertion looks like this:

[code]

[2013-08-05 04:27] arunoda commented on #44
I didn't exactly get the error. Do you mean if one tests faills, all other tests fails too? Is that?

Can you please show me the code to regenerate the error? Then I could easily investigate on this.

[2013-08-05 04:32] EricTheMagician commented on #44
Yes, if one test fails. It produces an error.
All other tests don't run and fail with the same error.

This is the test I was running:

[code]

and this is the output from running laika

[code]

[2013-08-05 04:34] arunoda commented on #44
Thanks. I will work on this.
Today is a busy day! Hope you don't mind working this on tomorrow.

[2013-08-05 04:36] EricTheMagician commented on #44
No worries.
I work on my meteor website every few days.

I'm just glad you keep on fixing the bugs that I find :)
(and making meteor better overall)

[2013-08-05 04:43] arunoda commented on #44
I'm liable for every piece of code I wrote :) But time is the barrier.

[2013-08-05 13:02] EricTheMagician opened #45 "Laika does not exit if meteor project is not found"
Currently trying to get continuous integration to run properly on my local computer.
My machine is running Mac OSX 10.8

If I run the laika command in a folder that doesn't contain a meteor project (for example, if I misconfigured my CI configuration), laika will just hang on "loading phantomjs".

Edit:

I found this from your blog:

[code]

The METEOR_PATH should be explained in the help.

[2013-08-05 17:27] knubie opened #46 "Cannot pass functions to evaluated code via arguments."
I'm trying to pass helper functions a la

[code]

Results in: `TypeError: 'null' is not a function (evaluating 'foo()')`

Forgive me if this is a naive approach, is there some other way to create helper functions that can be used throughout multiple `tests()`'s?

[2013-08-05 20:03] arunoda commented on #46
You can't pass functions like this. You can only pass variables that can be JSONed. Here is how you can do this.

[code]

[2013-08-05 20:16] arunoda commented on #45
Yes.  Good Idea.

Laika should give some error if it is not inside a meteor folder.

Yes. There are couple of other hidden features like `laika.opts` file, coffeescript support and so on.
Need to update the docs. And I'm planning to do a blog also with those new updates.

Thanks.

[2013-08-05 22:01] knubie commented on #46
Oh, I see. This makes perfect sense, thank you :-)

[2013-08-05 22:01] #46 closed, assigned to nobody

[2013-08-05 23:14] Sivli-Embir commented on #38
I am getting this issue when my app has a .json file in it. In this case I was using meteorite 0.6.9 which is much more meteor like. By removing my smart.json and smart.lock Laika works fine. Not sure if its related to the original problem though...

[2013-08-06 00:43] arunoda commented on #38
Hmm. Weird issue.
Let me see, if i can reproduce here

On Tuesday, August 6, 2013, Conner wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-08-11 03:47] #38 closed, assigned to nobody

[2013-08-11 03:48] arunoda commented on #38
This is fixed and published in `0.2.23`

[2013-08-11 04:00] arunoda commented on #44
I could re-produce the error, I'm working on a fix.

But there is a quick fix for now. Use `client.once` instead of `client.on`

[2013-08-11 04:31] arunoda commented on #44
Fixed and published in version `0.2.24`

[2013-08-11 04:31] #44 closed, assigned to nobody

[2013-08-11 04:53] arunoda commented on #39
I tested this today. Yes it is not working.
The problem is when the meteor is inside a hidden directory it does not pick injected laika server code.

And also seems like it does not load any js at all.

Is your app running properly inside a hidden folder?

[2013-08-13 10:50] lfergon opened #48 "timeout exceeded"
Hi, I have a problem with Laika: node version 0.10.15, I have update phantomjs.
$> laika -d -t 10000
Doen´t matter timeout that I pass to Laika, always fail.
  Error: timeout of 10000ms exceeded
      at null.<anonymous> (/opt/local/lib/node_modules/laika/node_modules/mocha/lib/runnable.js:165:14)
      at Timer.listOnTimeout [as ontimeout](timers.js:110:15)

[2013-08-17 09:21] wizonesolutions opened #51 "Not working after update to Meteor 0.6.5"
I'm getting the following output. I have a couple migrations that wind up running since it's a fresh copy of the app, but they shouldn't be doing anyhting. I think the `optimist` and `ECONNREFUSED` problems are more relevant, although I might be wrong.

[code]

And my test looks like

`$ cat tests/spendflow.test.js`

[code]

[2013-08-17 09:25] arunoda commented on #51
can you run your app?

[2013-08-17 17:18] wizonesolutions commented on #51
Yeah, my app is fine. It only does that after `laika` injects the code, and it stops doing it once `laika` removes it.

[2013-08-18 20:52] camilosw opened #52 "Add something like -g, --grep <pattern> on mocha"
I doesn't found any option to set the suite I want to run. Laika always run all the suites.

[2013-08-18 20:58] arunoda commented on #52
You can limit laika to run a single file/folder with

laika [options] tests/file.js

Anyway -g should be easy to add since laika using mocha. Patches are
welcome :)

On Mon, Aug 19, 2013 at 2:22 AM, Camilo notifications@github.com wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-08-20 01:09] arunoda commented on #39
Related meteor issue seems to be get fixed with `0.6.5`. Can you please update your project and try again.

[2013-08-24 08:37] Multiply opened #53 "Laika fails to test anything every second time"
The first run actually injects the code, so I assumed it can't be it, but then it gets stuck at the loading part. Even if I give it a full minute.

At the second run, it starts up speedily fast, and just runs awesomely, also cleans up.

If I then run it again, it's like in the first try.

Ubuntu version: `12.10`
Meteor version: `Release 0.6.5`
Laika version: `0.2.26`

Also, not run with sudo, as I

[2013-08-24 08:39] arunoda commented on #53
can you please run laika with `laika -D` and show me the output in two situations?

[2013-08-24 08:49] Multiply commented on #53
Edit:

A sidenote; I had to install optimist with the -g flag, to even get this far, when it fails. In case it helps?

Failing:

[code]

Success:

[code]

[2013-08-24 08:56] arunoda commented on #53
very interesting. I've never seen something like this before. Can you
please give me a code to reproduce this locally?

On Sat, Aug 24, 2013 at 2:19 PM, Jens Ulrich Hjuler Pedersen <
notifications@github.com> wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-08-24 09:03] Multiply commented on #53
I just created a completely new repository, and added a simple test, nothing in there yet that fails, which is good. All tests go through.

I'll try to add a few packages, and see if anything related pops out. I'll let you know in an edit soon enough.

Edit 1:
Okay, I am not seeing this every second time, it's now and then, but different errors from time to time:

[code]

Edit 2:
The optimist erro

[2013-08-24 09:41] Multiply commented on #53
Also, as a sidenote; I wasn't sure if this was related to #51 but it seems like it is.

[2013-08-24 13:16] Multiply commented on #53
I've done further tests, and it seems it's rarely the same error that happens, but it's usually every second time, for my first repository.

For my test-repo it's every third, or fourth try.

It's different files, that it's missing, but it seems to be the same 3-4 things, such as `optimist`, `.meteor/local/build-garbage-1p4w6yc/programs/server/packages/spark.js` and `.meteor/local/build/programs/s

[2013-08-24 15:06] arunoda commented on #53
Can you use this laika branch `issue-53-fix`

#### How to install it (hope you know it)
- clone laika repo
- `git checkout issue-53-fix`
- sudo npm install -g

[2013-08-24 15:14] Multiply commented on #53
I've tried it, yet it still seems to error-out once in a while.

It works fine for my reproduction-repository, but for my chat-thingy, it fails now and then.
Should I reset something laika-related before testing?

Edit:
Also, is it a factor, if there's a running meteor-application, while running laika from another terminal?

Edit 2:
I tried using your fix, with 10 seconds instead of just 1, and no

[2013-08-24 15:44] arunoda commented on #53
okay. I need to test this in ubuntu. I tried with mac.
Can you give me day or two?

On Sat, Aug 24, 2013 at 8:44 PM, Jens Ulrich Hjuler Pedersen <
notifications@github.com> wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-08-24 15:46] Multiply commented on #53
Sure, no problem.

I mean, testing works, just not for my automated tests ;)

Edit:
To me it seems like you can't rely on the "Meteor server running on: X", as it's really not running yet. Atleast that's what I could read from the `tools/run.js` file.

[2013-08-27 20:43] Multiply commented on #53
I found an issue over at meteor, which seems like some of the errors I get with laika, so it might not even be laika specific: https://github.com/meteor/meteor/issues/1337

You got around checking it on ubuntu?

[2013-08-27 21:34] arunoda commented on #53
Yes. had some busy schedule. Will do it today. Anyway, I run laika on travis-ci, which is based on Ubuntu.

[2013-08-27 21:36] Multiply commented on #53
I'm quite certain it's NOT a laika issue, and more of a Meteor issue, with the latest version of Meteor.

[2013-08-27 21:40] arunoda commented on #53
Let's stay in touch with the issue. Let me know if you found a fix.

On Wed, Aug 28, 2013 at 3:06 AM, Jens Ulrich Hjuler Pedersen <
notifications@github.com> wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-08-27 21:57] Multiply commented on #53
Just a quick observation, @arunoda - Look at my latest comment https://github.com/meteor/meteor/issues/1337#issuecomment-23374448

[2013-09-04 03:20] quisquous opened #54 "Can't assert in first server.eval function"
Perhaps this is just my own confusion, but I am having problems getting the server to be able to assert inside the first server.eval of a test.

If I apply the patch below to hello-laika, I get a "Uncaught ReferenceError: assert is not defined":

[code]

[2013-09-04 04:34] quisquous commented on #54
Oops, this is my misunderstanding about the difference between eval and once.  :)

[2013-09-04 04:34] #54 closed, assigned to nobody

[2013-09-11 20:52] ericraio commented on #43
To add to this issue,
I have also tried getting this to work but I can't figure out why it doesn't.

I still get this issue on both my Macbook Air and Macbook Pro
I have tried versions 0.10.4, 0.10.8, 0.10.10, 0.10.18

and all the versions return "Error: timeout of 2000ms exceeded"

[2013-09-12 04:42] arunoda commented on #43
There is another issues related to this. If your app loads somekind of images and css at load or some db initialisation. This could happens.
- Try running a server only, if that fails [increase timeout](http://arunoda.github.io/laika/options.html) time with -t
- If this works try running a client only test, if this also fails increase the timeout

[2013-09-15 22:42] sbefort opened #55 "What is the difference between server.once and server.on?"
In your article at sitepoint, you state the following:

"you can send some results back to test with emit() and catch it with server.once or server.on"

What's the difference?  Thanks.

http://www.sitepoint.com/test-driven-development-with-meteor/

[2013-09-16 02:15] arunoda commented on #55
See nodejs eventemitter documentation.

On Monday, September 16, 2013, Shaun Befort wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-09-19 08:58] sbking commented on #53
I haven't had any issues with the recent versions of Meteor, but as soon as I installed Laika I'm getting these same errors. I'm pretty sure the issue isn't with Meteor itself.

[2013-09-19 09:03] Multiply commented on #53
This is indeed a Meteor issue.

I think it's because I ran Meteor in a seperate process, while laika in the same directory at the same time.
Laika adds/removes files, ie. causing the actual Meteor process to rebuild, because it syncs the files.

[2013-09-19 09:36] sbking commented on #53
Oh, that makes sense. But why does laika fail every other time? For me, since I stopped the separate meteor process, it is failing exactly every other time, doesn't seem intermittent at all.

[2013-09-19 09:42] Multiply commented on #53
First laika injects the code, and the other Meteor app rebuilds. Laika fails.

Next time, it's already injected, and thus, no file changes occurs. Then it works. Cleans up.

Third time, it injects the code... causing a rebuild, and so on.

Edit:
I saw the same, but I had lingering Meteor stuff running. After a complete kill of the app, laika worked every time.

[2013-09-23 16:14] davidworkman9 opened #56 "How to remove?"
I'm trying to figure out how to remove Laika, everytime my meteor server restarts it says "laika injected and listening on: _someport_".

I think it's causing some issues, but I can't be sure until I can get it to not run.

[2013-09-23 17:39] arunoda commented on #56
Laika added 2 files to your project. You can remove by either running laika completely or remove them manually. Those files are
- `client/meteor-suite-client.js`
- `server/meteor-suite-server.js`

[2013-09-24 15:10] davidworkman9 commented on #56
Thanks very much.

[2013-09-24 15:10] #56 closed, assigned to nobody

[2013-10-04 13:30] sacketty opened #57 "laike with phantomjs localstorage"
I can see that phantom initialization within laika is made with a single parameter " {'load-images': false}". In case you have a webapp that uses local storage we can't add phantomjs standard parameter i.e.: "--local-storage-path=/some/path".
Does anyone has a workaround for this ?

[2013-10-06 01:08] ramseydsilva commented on #53
Everytime i kill all instances of node, laika runs successfully.

[code]

Maybe this will help resolve the problem.

[2013-10-06 02:42] arunoda commented on #53
There are some issue with zombie node processes stay alone after the tests exists. This happens possibly with errors. Once a error happens, doing a `killall` or `pkill` is really could solve these issues.

I'll try to improve some better way to cleanup injected files too.
And its better run close actual meteor app, while laika is running.

[2013-10-06 02:54] arunoda commented on #53
Use new laika version `v0.2.27` It does graceful shutdown and removes injected code even with `CTRL + C`

[2013-10-06 02:56] arunoda commented on #57
I really not understand the problem.
Laika works well with localStorage.

[2013-10-06 02:57] redchair123 opened #58 "LICENSE?"
add to package.json

[2013-10-06 02:58] arunoda commented on #55
This is the EventEmitter documentation for the reference purpose: http://nodejs.org/api/events.html

[2013-10-06 02:58] #55 closed, assigned to nobody

[2013-10-06 02:58] arunoda commented on #58
Thanks for the reminder. Will do it.

[2013-10-06 03:34] arunoda commented on #58
added with `v0.3.0`

[2013-10-06 03:34] #58 closed, assigned to nobody

[2013-10-06 03:35] arunoda commented on #51
Can you please update to `0.3.0` it cleans injected files well. Not sure it is a fix though.

[2013-10-06 03:36] arunoda commented on #52
This is now enabled with the new version `0.3.0`

[2013-10-06 03:36] #52 closed, assigned to nobody

[2013-10-06 03:37] #39 closed, assigned to nobody

[2013-10-06 03:47] ramseydsilva commented on #53
@arunoda  I updated to v0.3.0 and I can confirm, i don't have those problems anymore. The command runs just fine each time. Thanks for the fix!

[2013-10-06 03:49] arunoda commented on #53
awesome.

[2013-10-06 03:54] ramseydsilva commented on #53
@arunoda I spoke too early. Now i do occasionally get this error:

[code]

[2013-10-06 03:57] arunoda commented on #53
Yes. This is a historic bug, which relates to when talking with server.
Anyway, make sure you stop your app while running laika.

On Sun, Oct 6, 2013 at 9:24 AM, Ramsey notifications@github.com wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2013-10-06 04:06] ramseydsilva commented on #53
Sounds, good. Thanks again for all your help and hard work.

[2013-10-06 07:43] sacketty commented on #57
You are right! it was my mistake. I had a simultaneous check for localstorage and geolocation. The problem did not come from localstorage but from geolocation which does not seems to be supported by phantomjs

[2013-10-06 07:43] #57 closed, assigned to nobody

[2013-10-06 09:47] Multiply commented on #53
Could you add an option, so laika won't run, if meteor is already running?
Or if laika itself is running, it won't re-run?

My solution, was to simply do CI in a different folder, using symlinks, and in some projects, simply cp -R the needed files.

[2013-10-06 15:40] ramseydsilva opened #59 "setTimeout doesn't seem to work"
I try to delay emitting events in my tests, something like this:

[code]

However it doesn't wait 5 minutes to emit. The test output shows it took about 1200ms and I get the undesired result for that test (as a result of not delaying the event).

I also tried using Meteor.setTimeout but the same issue.

[2013-10-06 18:26] wizonesolutions commented on #51
Works again now :)

[2013-10-06 18:26] #51 closed, assigned to nobody

[2013-10-07 15:58] kschzt opened #60 "pass server, client to before/afterEach Mocha hooks"
Hi,

Would be great to do some repetitive startup/shutdown logic (like creating a user and logging in) in the hooks before/after running the actual tests. It would make the test code a lot cleaner too.

Could we pass the server and clients to these functions as well? Is the environment already running at that point?

Thanks.

[2013-10-14 08:27] lacco commented on #48
Could you please post your test that is failing? Perhaps you just forgot to call `done()` ?

[2013-10-14 18:34] lacco opened #62 "Any chance to speed up tests?"
In my current test suite, each test takes about 2000-3000 ms to complete. Is there anything I can do to speed this up? Following example shows that using any kind of database interaction in tests make them slow (although I initially thought the firing up phantom js browser instances takes so long):

[code]

Output:

![laika-slow-tests](https://f.cloud.github.com/assets/17513/1328291/e82ecfc4-34fe-

[2013-10-15 20:35] et opened #63 "Laika hangs when an error is present"
If an error is present in the app, `laika` should fail or at least be somewhat verbose about the error.

[code]

[2013-10-28 15:47] jagill opened #64 "Allow chai or other assertion libraries"
Currently, when I try to 'require("chai")', it tells me it's not defined.  I'm presuming it's because the laika package doesn't have chai in it's package.json.  Is there someway to allow chai or other assertion libraries?

[2013-10-28 15:55] jagill opened #65 "laika errors out on pending tests"
When laika encounters a pending test (one with no test fn), it errors out:

[code]

A test file that fails is at https://gist.github.com/jagill/7199376

[2013-10-29 20:42] mattuuh7 opened #66 "test with iron-router"
In my test I confirmed `Meteor.isClient===true`, but was not able to load [iron-router](https://github.com/EventedMind/iron-router) modules. Can you please show whether this is doable with the current implementation?
Thanks,

[2013-11-04 01:57] s2tephen opened #67 "Using Laika with transformed Collection documents"
Is there a way to access the instance methods added to a Collection via `transform`? The Meteor API says documents are passed through this function "before being returned or passed to callbacks" but when I call these additional methods in Laika they are unrecognized. Here's a more specific example:

[code]

This method works in other parts of my app, but when I run `laika`, this test does not reco

[2013-11-06 04:41] s2tephen commented on #67
Okay, figured out how to test the transformed Collection methods — you can only call them in the `eval` blocks, not the `once` blocks.

[2013-11-06 04:41] #67 closed, assigned to nobody

[2013-11-08 11:07] krstffr commented on #59
+1

It only works on the server as far as I'm concerned.

[2013-11-11 00:25] michaelbishop opened #68 "failed to build on new OSX 10.8.5"
[code]

Mac OSX 10.8.5, new laptop, make was missing. Xcode needs to be installed and I had to install the Command Line Tools from within Xcode: "Preferences > Downloads > Components".

There was also a build error because I had not run Xcode and accepted the license.

Might want to include on the install docs that it requires Xcode to be installed, license accepted and Command Line Tools installe

[2013-11-12 05:58] arunoda commented on #68
Yes. You need it. I'll update the docs.

[2013-11-12 06:03] #68 closed, assigned to nobody

[2013-11-19 22:56] rickihastings opened #70 "Laika testing really slow"
Hi, I'm getting really slow test times, no idea whats causing it. My code runs instantly in meteor.  I'm pretty sure I'm doing these right (well hopefully I am) but my tests are posted below.

[code]

You can see the `homeModule` in question here https://github.com/ircanywhere/ircanywhere/blob/0.2.0/client/js/home/module.js if necessary.

[2013-11-24 17:30] joernroeder commented on #63
same issue here…

[2013-12-03 16:08] rickihastings commented on #62
Did you ever get anywhere with this? Right now laika is unusable for me, even running the same as your test 1 it takes nearly 2 seconds and it's doing nothing. Development seems pretty much dead aswell.

[2013-12-04 08:13] lacco commented on #62
No, currently I am living with my slow tests, but TDD is nearly impossible :(. I really like Laika's approach, so I really hope that somebody might find a solution to speed them up.

[2013-12-04 08:23] arunoda commented on #62
I tried to improve a bit, but not successful yet. There is two bottlenecks.
- each server per test
- each client per test

If your app has some db initialisations, that time also add up. We can get
around with this.
Other one is the hardest one. Since we are launching a phantomjs page, time
taken to load static files and render them also add up. I tried to use
implement a full DDP based client. Bu

[2013-12-04 11:18] rickihastings commented on #62
I think a good improvement could be to run meteor in production mode to minimize the amount of requests phantomJS has to make, and caching will come into play when running multiple tests. It should really boot things up, see;

https://github.com/arunoda/laika/blob/master/lib/meteor.js#L9

How is the mongo code working, is it dropping the database and recreating it per test? If so perhaps we could

[2013-12-04 11:43] arunoda commented on #62
Running the project at first with production mode sounds good, but it will
slow down at initially. We can add an option for that of course.

Some better way of handling the db might help. But still we need to figure
out the full db isolations.

Of course, I'd love to have some pull requests :)

On Wed, Dec 4, 2013 at 4:48 PM, Ricki notifications@github.com wrote:

##

Arunoda Susiripala

@arunoda

[2013-12-04 11:47] rickihastings commented on #62
Yeah I've just ran with --production and it speeded the initial tests up by a little. I've not ran it with a huge suite just a few though.

It seems the bulk of my problems are coming from when I'm doing on startup checks and some file manipulations, I don't specifically need these running during tests, I can stub them. Is a reliable way to detect whether laika started Meteor up? At the moment I'm

[2013-12-28 09:20] pradeepmogi commented on #15
I'am getting same error, my environment details as follows
node -v
v0.10.24
laika -v
0.3.1

[2014-01-04 08:27] AdrienLemaire opened #72 "laika & coffeescript & bdd"
Hello,

I'm beginning with meteor, coffeescript & laika, and I'm having troubles to get a basic test working.

![class coffee not defined](http://i.imgur.com/v2RV1tu.png)

Any idea what I'm doing wrong, why my class isn't defined ? Same thing happens with server, maybe I'm missing something like adding those variables to the describe function...

[2014-01-04 21:16] AdrienLemaire commented on #72
Also tried like this, without more success:

![Meteor is not defined](http://i.imgur.com/UjgZ8sc.png)

[2014-01-06 08:22] AdrienLemaire opened #73 "--debug-brk not stopping on breakpoint"
Hi,

If I understood correctly, when adding **--debug-brk** in my `laika.opts` and adding **debugger** on one line in my tests, it should stop on that line and allow me to examine the state at that point.

But laika ignores the line and keep running.

[2014-01-06 09:21] AdrienLemaire commented on #72
Getting something minimal working (without meteor) in [CoinsManager/#14](https://github.com/CoinsManager/CoinsManager/pull/14), closing

[2014-01-06 09:21] #72 closed, assigned to nobody

[2014-01-06 09:26] AdrienLemaire opened #74 "Travis not running tests correctly with coffee-script"
Isn't coffeescript provided by mocha and therefore available within Laika ?

When running successfully tests in local, I see them fail in Travis with error **Error: Cannot find module 'coffee-script'** (cf [build](https://travis-ci.org/CoinsManager/CoinsManager/builds/16452795)). Trying to update my `.travis.yml` to npm install coffee-script, but didn't get travis to work yet.

Same thing about **

[2014-01-08 04:26] AdrienLemaire opened #75 "Laika not importing classes properly"
Hi,

I successfully wrote some code where meteor builds a collection transforming via a class, and printing it in the template.
But when I try to execute some basic laika tests, and the `bitcoin.coffee` file is read, it fails to  find `@BaseCrypto`, class which is found by meteor when running it.

![laika_fail](https://f.cloud.github.com/assets/260983/1865857/fa0584b6-781c-11e3-970f-cfb888056b98.p

[2014-01-12 02:38] arunoda commented on #75
I'm not why it is. Can you provide me something to reproduce it locally. Then I can test.

[2014-01-12 02:43] arunoda commented on #74
Hope you are running laika with `laika --compilers coffee:coffee-script`

For `chai` and others to be available via `laika`. You've to install them globally. (`npm install -g chai`)

[2014-01-12 02:58] arunoda commented on #73
I think this is not working.
I need to change how laika handles this bit differently. I'll do it around this week.

Frankly we need to do something [similar](https://github.com/visionmedia/mocha/blob/master/bin/mocha) done with mocha to handle this situation.
Just passing the option to Mocha is not gonna implement this.

If you can send me a Pull Request, it would be nice.

[2014-01-12 03:08] arunoda commented on #70
Tell me more about the slowness.
It is acceptable to take 800ms - 2000ms.
But if more than that, your app initializing db at startup or downloading something (webfonts or something similar)

[2014-01-12 03:09] arunoda commented on #66
Can you please provide more information.
May be you've already got this fixed or given up.

[2014-01-12 03:11] arunoda commented on #65
You must need to pass a callback to it.

[2014-01-12 03:11] #65 closed, assigned to nobody

[2014-01-12 03:25] AdrienLemaire commented on #75
Fastest way is:

[code]

It's already very simple, but I'll setup a more basic example tomorrow if you prefer.

[2014-01-12 03:26] arunoda commented on #75
I think I can try it tomorrow.

On Sun, Jan 12, 2014 at 8:55 AM, Adrien Lemaire notifications@github.comwrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2014-01-12 03:33] AdrienLemaire commented on #74
You didn't understand my questions ^^

Options are [here](https://github.com/CoinsManager/CoinsManager/blob/alpha/laika.opts)
Tests wouldn't have succeeded locally if I didn't specify the coffee compiler :) This is a problem with Travis, it imports laika but it doesn't install coffee-script. If coffee-script is a requirement to laika, shouldn't it be automatically installed by travis ?

For should

[2014-01-12 03:34] AdrienLemaire commented on #73
I see... Unfortunately, I only recently started to learn all those technologies, and don't think I can take care of it :) Maybe I'll go and create a new ticket in the mocha bug tracker then, thank you

[2014-01-12 03:36] arunoda commented on #74
coffescript is neither a requirement for laika or mocha.
You need to install it globally.

On Sun, Jan 12, 2014 at 9:03 AM, Adrien Lemaire notifications@github.comwrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2014-01-12 03:38] arunoda commented on #73
Ah nope. It's not a mocha issue rather laika does not implemented it well.
I'll do it the next week.

On Sun, Jan 12, 2014 at 9:04 AM, Adrien Lemaire notifications@github.comwrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2014-01-12 03:38] AdrienLemaire commented on #73
oh ok :) Thank you very much for your support !

[2014-01-12 03:40] AdrienLemaire commented on #74
Yeah true.. I did install coffee-script in the [.travis.yml](https://github.com/CoinsManager/CoinsManager/blob/alpha/.travis.yml) file thought. Not a bug related to laika I guess, I'll debug that more on my own. Thanks

[2014-01-12 03:42] arunoda commented on #74
Laika is very poorly handle custom nodejs modules. I need to build some
alternative machanism for that too.

On Sun, Jan 12, 2014 at 9:10 AM, Adrien Lemaire notifications@github.comwrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2014-01-12 21:26] AdrienLemaire commented on #75
Most simple way to test:

[code]

Then add those files:
- **laika.opts**

[code]
- **models/base_model.coffee**

[code]
- **models/model.coffee**

[code]
- **tests/model_spec.coffee**

[code]

Then run `laika`, and you should see that error:

![traceback](http://i.imgur.com/58aubCJ.png)

On the other hand, meteor has no problem with [loading the classes](https://github.com/CoinsManager/CoinsManage

[2014-01-12 22:29] AdrienLemaire commented on #74
I finally got it. I was doing `npm install coffee-script` in the `.travis.yml`, while I needed to do `npm install -g coffee-script`

[2014-01-13 00:51] AdrienLemaire commented on #74
Ah this is making me insane. Now that the coffee-script issue has been resolved, I get many errors, depending on (my tests](https://github.com/CoinsManager/CoinsManager/pull/17) with the `.travis.yml` conf:

`ReferenceError: require is not defined`

`TypeError: Cannot call method 'split' of undefined`

`Error: Cannot find module 'should'`

etc.

My file currently looks [like that](https://github.c

[2014-01-16 13:34] mfaerevaag commented on #48
I'm getting the same problem!

`node v0.10.24`
`laika v0.3.2`
`phantomjs v1.9.2-6`

I'm using the same tests as in the [hello-laika example repo](https://github.com/arunoda/hello-laika/blob/master/tests/posts.js), only rewritten in coffee with a different collection.

[code]

My output from `laika -V`:

[code]

Note: It hangs on 'cleaing up injected code' and never exits.

[2014-01-16 14:24] callmephilip commented on #64
+1 for chai

[2014-01-17 10:39] callmephilip commented on #53
i am running in to very similar issues with laika 0.3.2 and meteor 0.7.0. The behavior is very inconsistent and I am struggling with identifying the exact source of the problems

[2014-01-17 12:30] callmephilip commented on #53
the error i am getting is as follows:

Error: ENOENT, no such file or directory
    at Argv (/Users/callmephilip/.meteor/tools/09b63f1ed5/lib/node_modules/optimist/index.js:23:29)
    at Object.main (packages/webapp/webapp_server.js:510)
    at /Users/callmephilip/projects/onair/.meteor/local/build/programs/server/boot.js:182:27

Inspecting file system after the running the tests shows that the fi

[2014-01-17 15:41] mizzao opened #76 "Request a large number of clients without typing them all out in advance?"
Hi @arunoda,

Is there way to set up a large, fixed number of laika clients without having to type out `(..., c1, c2, c3, ...)`?

[2014-01-17 15:49] arunoda commented on #76
hmm, it is hard to do that with laika. You might need to look for some load
testing script.

On Fri, Jan 17, 2014 at 9:11 PM, Andrew Mao notifications@github.comwrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2014-01-18 09:23] AdrienLemaire commented on #75
bump on this issue

[2014-01-20 16:41] lalomartins commented on #66
I'm not sure what you (@mattuuh7) mean, since there's no loading modules in Meteor :smirk_cat: Do you mean the Router object is not available? It seems to be there for me.

[2014-01-21 05:27] #66 closed, assigned to nobody

[2014-01-21 23:26] AdrienLemaire commented on #75
Hi Arunoda, did you make any progress on that issue ? Thank you for your support !

[2014-01-30 15:03] blazer82 opened #77 "Client-side test fails after two server-side tests"
I have a really strange behavior with my test suite: After two server-side tests the next client-side test fails because of a timeout, always and even if the timeout is set to really high values. I tried to track it down but wasn't able to find anything. It seems to be completely independent of any meteor app, since it's easily reproducible in another app. All you need to do is to run the followin

[2014-01-30 15:09] blazer82 commented on #77
I just found that when you place an additional `server.eval(...).once(...)` within the last test everything works fine again. The problem seems to be with the nature of the test being client-side only.

[2014-01-30 15:47] blazer82 commented on #77
Might actually be related to #48

[2014-01-31 15:01] wbashir opened #80 "Integrating nightwatch.js"
Would there be a conflict if we tried to use another testing framework with laika like this one http://nightwatchjs.org/

[2014-02-01 15:38] arunoda commented on #80
I'm not exactly sure how it works. Since it's based on selenium, I don't
think their won't be any conflict.

But I'm not sure, how you can use them inside Laika.

On Fri, Jan 31, 2014 at 8:31 PM, warsamebashir notifications@github.comwrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2014-02-01 19:24] wbashir commented on #80
thanks, i am playing around with it now with no real issues yet.

[2014-02-01 19:24] #80 closed, assigned to nobody

[2014-02-01 19:50] arunoda commented on #80
Nice to hear that.

On Sun, Feb 2, 2014 at 12:54 AM, warsamebashir notifications@github.comwrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2014-02-04 14:25] blazer82 commented on #77
I found that when you set your initial apps in the AppPool to a number high enough to execute every test on one of those initially started apps (in this case here `size: 3`) then everything runs fine again. Although this cannot be a solution it suggests that something isn't quite ready while executing the last test.
The same conclusion can be reached by applying the following patch to `lib/app.js:

[2014-02-04 14:38] blazer82 commented on #77
I got it. I'm going to make a pull request for the fix...

[2014-02-04 16:20] #77 closed, assigned to nobody

[2014-02-05 14:06] blazer82 opened #83 "How do you simulate clicks on elements?"
After I found that jQuery's `$.trigger()` doesn't work I did some googling and came up with a function like this:

[code]

Is this an issue? Am I doing something completely wrong here?
If there's no other way to do this then a function like this should probably be shipped with laika. What do you think?

[2014-02-05 15:50] lalomartins commented on #83
I'm struggling with a similar issue here (need to test a file upload widget), I'm thinking instead we should expose more of the Phantom API. @arunoda what do you think?

Basically on the ClientConnector constructor, store the Phantom page object as this.page instead of a local variable, then we could use the full Phantom API. The one argument against is keeping Laika independent of Phantom… but fo

[2014-02-05 15:58] blazer82 commented on #83
I like the idea of exposing phantom's page object...

[2014-02-05 16:33] lalomartins commented on #83
implemented in commit c78bae6, if this looks good to everyone I'll pull-request it

**edit**: I know this isn't “the github way”, I should just make the PR :smile_cat: but I don't want to split the conversation into yet another thread just yet until we're more or less in agreement

[2014-02-06 00:56] Ceasar commented on #63
+1

[2014-02-06 04:13] arunoda commented on #63
I'll starting to work on the next major version of Laika next week with
fixing a lot of bugs. I'll update more on this. patches are welcome :)

On Thu, Feb 6, 2014 at 6:26 AM, Ceasar Bautista notifications@github.comwrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2014-02-06 06:04] AdrienLemaire commented on #74
switched over to RTD, closing this issue

[2014-02-06 06:04] #74 closed, assigned to nobody

[2014-02-06 06:05] AdrienLemaire commented on #75
No support, switched over to RTD. I'll try again laika when it will be integrated to RTD

[2014-02-06 06:05] #75 closed, assigned to nobody

[2014-02-06 06:05] #73 closed, assigned to nobody

[2014-02-06 23:42] arunoda commented on #83
actually there seems to have no good alternative to phantomjs yet. So I'm fine with exposing the page object.
make sure to expose it with `_page`, so it is indicator that this is a private. You can use it, if you are pretty sure about it.
How about using `._phantomPage` instead?

[2014-02-06 23:43] #76 closed, assigned to nobody

[2014-02-06 23:50] arunoda commented on #59
This is an issue with evaluating setTimeout inside PhantomJS. Seems like there is a hack to fix it. Give it a try: https://github.com/ariya/phantomjs/issues/10832#issuecomment-30869416

[2014-02-06 23:51] #16 closed, assigned to arunoda

[2014-02-06 23:52] arunoda commented on #16
MongoDB is not the bottleneck, it's opening the page via PhantomJS.

[2014-02-13 00:35] arunoda opened #87 "Npm support for packages"
Discussion: http://goo.gl/4ZQ08z
## Tasks
- [x] - ignore node_modules folder
- [ ] - a way to install node_modules with laika

[2014-02-13 23:16] andrewdhazlett opened #90 "Laika hangs when creating app pool"
The hello-laika example works fine, but when i try to run a trivial test in my new project:

[code]

laika just hangs:

[code]

I'm using phantom v1.9.7 and hello-laika worked fine both before and after upgrading to meteor v0.7.0.1

[2014-02-13 23:30] arunoda commented on #90
Can you run your app with -V option (laika -V). It will show you the logs
and errors or the reason for hanging. May be some packages getting
installing.

On Fri, Feb 14, 2014 at 4:46 AM, andrewdhazlett notifications@github.comwrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2014-02-13 23:49] andrewdhazlett commented on #90
ah, I tried running with -D and it was an unknown option

[code]

[2014-02-14 01:23] arunoda commented on #90
You seems running a bit outdated version of laika. try updating. Laika now
used -V as the verbose mode.
Anyway it seems like some permission issue. Have you running meteor with
sudo?

if so try running laika with sudo (not recommended)

On Fri, Feb 14, 2014 at 5:19 AM, andrewdhazlett notifications@github.comwrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunoda

[2014-02-14 02:24] andrewdhazlett commented on #90
I'm using laika v0.3.7. I was attempting to use the -D flag as indicated by you on a stack overflow issue that was pretty old.

I've not been running meteor with sudo and

[code]

[2014-02-14 02:25] andrewdhazlett commented on #90
I've confirmed it's not a meterorite problem:

[code]

[2014-02-14 02:37] andrewdhazlett commented on #90
Ah, it would appear I did not have .meteor/local included in my .gitignore when I cloned for local development:

[code]

Thank you so much for your help!
You are a great asset to the community and I am constantly in awe of how much you seem to ship on a daily basis while still having time to help us troubleshoot.

[2014-02-14 02:37] #90 closed, assigned to nobody

[2014-02-14 02:39] arunoda commented on #90
Cool. :)

On Friday, February 14, 2014, andrewdhazlett notifications@github.com
wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2014-02-14 03:48] calculon0 opened #91 "issue with coffeescript 1.7+"
If anyone else is having problems trying to get laika to work with coffeescript 1.7+, there is an issue with mocha.  You need to use
--compilers coffee:coffee-script/register

See visionmedia/mocha#1120

[2014-02-14 04:36] arunoda commented on #91
Good one. Thanks.

[2014-02-17 20:51] gadicc opened #94 "Inconsistent behaviour in a Deps.autorun()"
Hey.  This is my first test, so go easy on me :)

I have something like this:

[code]

Sometimes it returns the correct answer, but usually I get:

[code]

I'd say 4/5 times it fails with that error.  I just keep rerunnning and I get a few passes here and there.  Interestingly, if I use `emit('result', 1)` in the same location, the 1 always goes through (so not a timing issue).  Any other variable

[2014-02-17 20:52] gadicc commented on #94
Oops, nevermind... I think it's a race condition with another autorun for same variable, with iron-router, which is getting into this issue:

https://github.com/EventedMind/iron-router/pull/418

[2014-02-17 20:54] #94 closed, assigned to nobody

[2014-02-18 10:41] gadicc opened #95 "Way to set page properties before page.open() called"
Use case: I need to set `page.customHeaders` before the page is opened.  Even with https://github.com/arunoda/laika/commit/c78bae6763921ceedd1d6cc4546137f7d4619a55 (expose `page` by lalomartins), unfortunately it's still too late.

I think the obvious place is maybe a 3rd `options` parameter to `test()`, which could maybe include something like `phantomjs: { page: { customHeaders: { a: 1 } }` or s

[2014-02-19 14:24] dandv opened #96 "phantomjs leak - keeps running"
laika keeps failing tests because it can't see a global in my test (don't understand why, but that's another issue) with `ReferenceError: myFunc is not defined`.

The problem is that each laika run appears to leave behind a phantomjs process, as shown by `htop`:

![image](https://f.cloud.github.com/assets/33569/2207250/4109965c-9971-11e3-9969-f850d82ce1cc.png)

[2014-02-20 01:47] dandv commented on #62
Just wanted to report a speed difference of about 2x on the startup phase (the test fails right away) between using a regular mongod instance (56 seconds), and one instantiated with `mongod --smallfiles --noprealloc --nojournal` (34 seconds, of which 4 are to launch `mongod` and then shut it down). System is a Linode VPS with 1GB RAM, running Ubuntu 13 LTS.

[2014-02-20 03:02] dandv opened #97 "Where do I place a simple direct assert without the server/emit round-trip?"
Laika is nice but honestly the whole `emit` roundtrip is a bit too much for simple tests. Where can I place just asserts to perform unit tests? I have this in `server/myfunc.js`:

[code]

Then in `tests/` I have the official example, with some asserts but they all fail with reference errors:

[code]

[2014-02-20 03:49] arunoda commented on #97
Yep. emit is not a good pattern. That's why we introduced [`evalSync`](http://arunoda.github.io/laika/syntax-sugar.html)

[2014-02-20 09:16] dandv commented on #97
Can it be made as simple as this?

[code]

I'm just trying to test some library functions that don't require the server or the client eval - the functions are independent. But I can't call these functions from an `assert` - see issue #98. What is the correct pattern for simple cases like the above?

[2014-02-20 10:51] dandv opened #98 "How can I use assert and Meteor globals in the same scope?"
I'm trying to use `assert` on the result of a function I define in `server/myfunc.js`. The problem is that in the scope in which `myFunc` is defined (`server.eval()`), `assert` is no longer defined:

[code]

I presume that's because laika injects the test code into the server via a TCP connection, and the `assert` is completely out of scope.

How can I solve this problem?

[2014-02-20 11:06] dandv opened #100 "Explain what done() does..."
...for users new to Meteor, without Node.js experience

[2014-02-20 20:37] PSzu opened #102 "server.eval() considered harmful by jshint"
I integrated RTD and laika with meteor boilerplate. jshint is complaining that server.eval() can be harmful... perhaps eval() should be renamed? the workaround is to use --force but still not nice...

[code]

[2014-02-20 21:07] arunoda commented on #102
Hmm.

That's a JSHint Bug. May be try evalSync.

On Fri, Feb 21, 2014 at 2:07 AM, Przemyslaw Szulczynski <
notifications@github.com> wrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2014-02-20 21:41] arunoda commented on #98
clousers doesn't work here. eval means it takes the function(string
content) and execute on the server.

It can communicate back to test with emit() and you can pass
objects(JSONable) to the eval just after the first parameter.

So assert does not work inside the eval. May be try to read the docs a bit.

On Thu, Feb 20, 2014 at 4:21 PM, Dan Dascalescu notifications@github.comwrote:

##

Arunoda Su

[2014-02-20 21:44] arunoda commented on #100
good point. Can you please coin something for this?

[2014-02-20 22:45] arunoda commented on #96
works fine in `OSX`.
Are you using Ubuntu?

Did you get fixed the other issue?

[2014-02-21 03:34] dandv commented on #96
Yes, I'm on Ubuntu 12.04.4 LTS.

Linux localhost 3.12.9-x86_64-linode37 #1 SMP Mon Feb 3 10:01:02 EST 2014 x86_64 x86_64 x86_64 GNU/Linux

[2014-02-21 03:37] dandv commented on #98
I had read the docs and updated my GitHub issue text shortly after you got the email notification :)

I'm just trying to figure out [the simplest way](https://github.com/arunoda/laika/issues/97#issuecomment-35601331) to get an assert of a server method running.

[2014-02-21 03:51] arunoda commented on #96
Okay. I'll try this on Ubuntu.

On Fri, Feb 21, 2014 at 9:04 AM, Dan Dascalescu notifications@github.comwrote:

##

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

[2014-02-21 03:53] arunoda commented on #97
If that's a library. You can directly require it. Let's say your library is inside `lib/abc.js`. Do it with `require('./lib/abc.js)`

[2014-02-21 06:13] spastai commented on #96
I'm having the same on 3.2.0-58-generic-pae #88-Ubuntu SMP Tue Dec 3 18:00:02 UTC 2013 i686 i686 i386 GNU/Linux

[2014-02-26 21:53] nadolny opened #103 "discover-meteor-microscope"
Congratulations for your great work.
Can you help me understand this question?

File used in my test: https://github.com/arunoda/discover-meteor-microscope/blob/master/tests/posts.js

laika        --version 0.3.8
meteor    --version 0.7.1.1
mongodb --version 2.4.8

Running the sample line "assert.equal(posts.length, 1);" always fault...
                                    posts.length = 0
Whats th

[2014-02-26 22:36] nadolny commented on #103
Replacing line
 //var posts = Posts.find({title: 'google'}).fetch();
   var posts = Posts.find().fetch();
  Test it´s ok

Parameter {title: 'google'} create the problem?

  injecting laika...
  loading phantomjs...
  loading initial app pool...

  Post Method
    â without login (1848ms)
    â with login (2284ms)

  2 passing (4s)

  cleaning up injected code

[2014-03-04 03:45] JustinSGray opened #104 "Can't install on os-x mavericks 10.9"
When trying sudo npm install -g laika i get:

gyp ERR! configure error
gyp ERR! stack Error: `gyp` failed with exit code: 1
gyp ERR! stack     at ChildProcess.onCpExit (/usr/local/Cellar/node/0.10.21/lib/node_modules/npm/node_modules/node-gyp/lib/configure.js:424:16)
gyp ERR! stack     at ChildProcess.EventEmitter.emit (events.js:98:17)
gyp ERR! stack     at Process.ChildProcess._handle.onexit (ch

[2014-03-04 03:53] JustinSGray commented on #104
I had to do the following

[code]

Then I had to install the full Xcode. I had the Xcode command line tools installed. But apparently thats not enough.

[2014-03-04 03:53] #104 closed, assigned to nobody

[2014-03-05 14:15] jvdmagtanong opened #105 "Less compiler error"
Hi,

I was running laika and encountered the error below.

─$ laika --compilers coffee:coffee-script -V                                                                                                          8 ↵
[laika log] accepting the following extensions: (js|coffee)

  injecting laika...
  loading phantomjs...
[app touch log] [[[[[ ~/Desktop/workspace/liveitchina-laika/app ]]]]]

[app touch

[2014-03-05 14:18] jvdmagtanong commented on #105
Please note that when I run the application locally and without laika, it is working fine.

[2014-03-07 20:13] tvararu opened #106 "Should/Underscore example doesn't work with global npm installation"
Installed `should` and `underscore` globally as described in `examples/advanced/tests/readme.md`, but that just caused the test suite to error:

[code]

The test suite does work however if you install them locally:

[code]

[2014-03-10 11:43] #105 closed, assigned to nobody

[2014-03-10 11:56] jvdmagtanong opened #107 "Inconsisten test results of laika"
Hi,

I get different test results of laika everytime i run it. Below is the result of my first run:

Users
    ✓ User created successfully
    1) User enters null gender
    2) User enters blank gender
    3) User enters space on gender
    4) User enters null birthday
    5) User enters blank birthday
    6) User enters space on birthday
    7) User enters null summary
    8) User enters blank su

[2014-03-13 13:20] nilsjanse commented on #62
Would it be possible to optionally "reuse" server and client(s) across tests?

Conceptually (using the mocha bdd-syntax), how it seems to work now is that laika is setting up/tearing down a server and client(s) as beforeEach()/afterEach(), but if it was possible to make it as before()/after() instead, a lot of time could be saved, right?

For my app, setup of one client takes about 2 seconds, and

[2014-03-18 09:35] zs-zs opened #108 "Laika on Windows"
On Windows, when I try to run the tests for the [hello-laika](https://github.com/arunoda/hello-laika) sample I get the following error:

[code]
- I have the latest Laika (0.3.8) installed from npm.
- I have the latest version of PhantomJS
- I have the latest version of Meteor installed.

(Tested on Windows 8.1)

It seems that it can't start the Meteor server, but I haven't taken any further invest

[2014-03-18 13:48] zs-zs commented on #108
Oh I guess it's because on Windows Meteor is a batch file, so you have to start it with meteor.bat, or something like this...

[2014-03-19 15:47] adamantivm opened #109 "Access to server and client at the suite-level"
Is there any way to get access to the server and client objects outside of each particular test?

I would like to execute some meteor server-side code before all of the tests run and then after all of the tests finished (instead of each time before and after each test).

In mocha I would normally do this using bdd style and the before() and after() interfaces, but those don't get any reference to

[2014-03-22 14:56] caio-ribeiro-pereira opened #111 "Mocking Meteor.user()"
Hi, I'm new using Laika, and I'd like to know how can I mock Meteor.user() object, testing this function:

[code]

I just would like to test if the post was added using a fake Meteor.user() to test it.

This is a simple test which is not working, because of Meteor.user() object:

[code]

Does anybody can help me solving this?

Thanks!

[2014-03-22 19:06] hamxiaoz commented on #91
This fix for me. Maybe we should add 'how to support coffeescript' in the readme?

[2014-03-23 00:13] brandonaaskov commented on #68
For what it's worth, this turned up in my search for a solution in running [johnny-five](https://github.com/rwaldron/johnny-five) on my Arduino Uno, and when I ran `npm install johnny-five` I got the exact same gyp error stack above. Same solution! Awesome! Thank you!

[2014-03-24 12:16] MarcusRiemer opened #112 "Crash when no top-level "tests" folder is present"
This seems like a minor issue to me, when running laika without a "tests" folder in the TLD, the whole thing crashes on cleanup.

[code]

[2014-03-25 04:17] hamxiaoz opened #113 "Where to put helper method?"
I tried to create a helper method out of test suite and I get this error:
`Uncaught ReferenceError: helperMethod is not defined`

[2014-03-25 20:52] AdamBrodzinski commented on #64
+1 for chai

[2014-03-31 11:27] MarcusRiemer commented on #111
I am currently working around this by simply testing in with a "real" and logged in user. This can be done by calling `Accounts.createUser({email: 'a@a.com', password: '123456'});` on the server and something like

[code]

on the client.

[2014-04-01 19:34] adamantivm opened #114 "don't fail if server cosole out has the workd 'error'"
From what I can tell, every time the word 'error' shows up anywhere in the meteor server log, laika concludes that the server crashes and stops the tests.

This happens even if the log output is: "This worked great, there was no error!".

Is there any way to disable this aggressive grepping for 'error' from failing the tests?

[2014-04-01 19:56] AdamBrodzinski commented on #106
@tvararu  Where did you install the node modules? It appears like they were installed from the root of advanced? When I try that I get this from the meteor server

[code]

If I try installing in `tests` I get this error from laika:

[code]

[2014-04-01 20:01] tvararu commented on #106
Yeah, they don't work when they are installed in `tests/node_modules`. What I ended up doing was installing them in the root of the meteor project in a folder that I called `.node_modules`, commiting that to version control, and doing this in `tests/$setup.js`:

[code]

[2014-04-01 20:14] AdamBrodzinski commented on #106
@tvararu Awesome! thanks so much! Working great.

[2014-04-01 23:16] arunoda commented on #106
We will be having NPM support pretty soon.
Right now, this is a good solution and you also can install the module
globally an use it.

---

Arunoda Susiripala
I curate Meteor Weekly - Check it
out!http://meteorhacks.com/meteor-weekly/?utm_source=email-footer&utm_medium=email&utm_campaign=meteorweekly

On Wed, Apr 2, 2014 at 1:44 AM, Adam Brodzinski notifications@github.comwrote:

[2014-04-01 23:16] arunoda commented on #114
Yep. This is some ugly point.
I'm working on it.

---

Arunoda Susiripala
I curate Meteor Weekly - Check it
out!http://meteorhacks.com/meteor-weekly/?utm_source=email-footer&utm_medium=email&utm_campaign=meteorweekly

On Wed, Apr 2, 2014 at 1:04 AM, Julian Cerruti notifications@github.comwrote:

[2014-04-02 01:17] dandv commented on #97
New Laika's interface looks _sweet_! :+1:

![image](https://cloud.githubusercontent.com/assets/33569/2586584/83a718dc-ba04-11e3-9b95-c9a8da23f332.png)

[2014-04-02 02:19] arunoda commented on #97
Thanks :)

---

Arunoda Susiripala

@arunoda http://twitter.com/arunoda
 http://gplus.to/arunodahttps://github.com/arunoda
http://www.linkedin.com/in/arunoda

On Wed, Apr 2, 2014 at 6:47 AM, Dan Dascalescu notifications@github.comwrote:

[2014-04-05 06:05] sbking commented on #102
You could try adding a `.jshintrc` file to your `tests` directory with the following content:

[code]

[2014-04-05 11:55] VasilySizov opened #115 "Issue after updating meteor: laika hangs and requires to clear mongod's data files every time"
Like stopped working after Meteor update from 0.7.0.1 to 0.7.2 (the same problems with 0.8.0).

This is the log from "laika -V" for 0.7.0.1 project:

[code]

...and this one from "laika -V" for the same project updated to 0.7.2:

[code]

So, it just hangs!

I have a feeling that the problem is with the DB.
Mongod's log shows nothing:

[code]

(hangs here)

I have tried to restart mongod, but it di

[2014-04-05 14:39] caio-ribeiro-pereira commented on #111
Thanks!

[2014-04-05 14:39] #111 closed, assigned to nobody

[2014-04-05 14:43] caio-ribeiro-pereira opened #116 "Running Client before Server"
Hi again!

Is there a way to simulate a client execution first and server assert after?

For exemple, only clients can publish a post, so it'll be something like...

[code]

I have some functions which only client can execute (because it needs a logged user), and I don't know how to simulate this kind of test.

I will wait some answer, Thanks!

[2014-04-07 05:22] arunoda commented on #116
You can do it with our [`evalSync`](http://arunoda.github.io/laika/syntax-sugar.html) API. see:

[code]

And for the login, you can create a user on every test. Like below.

[code]

may be you can create a common function for this, where you can use in any testCase you want.

[2014-04-07 11:42] caio-ribeiro-pereira commented on #116
This is my new book about Meteor https://casadocodigo.refersion.com/l/d88.3525 (Brazilian portuguese) today is on beta version, but in the full version it will have a chapter about testing using laika and thats why I requested a help here :)

Thanks @arunoda !!

[2014-04-07 11:42] #116 closed, assigned to nobody

[2014-04-07 11:48] arunoda commented on #116
Awesome. Yep, I'll help.

[2014-04-09 22:24] lingz commented on #74
Just a note, that I had coffee-script working on a local build, but in order to get it working with an automatic CI, where I had to install coffee-script, I had to use --compiler coffee:coffee-script/release. I think it's related to the version of coffee-script the system has. Also, I couldn't find any mention of coffee-script in the docs!

[2014-04-25 08:49] zhaoyou commented on #43
node.js `v0.10.22`
laika `v0.3.9`
meteor `v0.8.0.1`
os: `OS X 10.9.2`

@arunoda I create empty project, few css,image. laika -t big number.  it does't work.

[2014-04-28 08:13] zhaoyou commented on #48
I'm getting the same problem!
node.js v0.10.22
meteor 0.8.0.1

[2014-05-05 01:20] AdamBrodzinski opened #117 "Laika broke with 0.8.1"
After i've updated my app to 0.8.1.1, my tests hang and timeout. I can make them pass by changing `.meteor/release` to 0.8.0.1. From what I can tell, it's only affected by the client tests.

I've also replicated this by cloning down hello-laika. I pasted the output below:

[code]

[code]

[code]

_change release back to 0.8.0.1_

[code]

I hope this helps!

[2014-05-05 02:17] AdamBrodzinski commented on #117
Perhaps this is from a [change](https://github.com/meteor/meteor/blob/devel/History.md#upgraded-dependencies) with 'css-stringify'.

[2014-05-06 08:24] chompomonim commented on #48
Same here. Meteor 0.8.1, Node v0.10.25

[2014-05-09 16:09] Linskeyd commented on #77
Hey Blazer82.  It seems this issue exits again as of meteor 8.1.1.  Yesterday I was running test and when I swapped the order around, it consistently failed every third test.  Adding a server side eval like you said a few comments ago does fix the problem.    Laika -v is 0.3.9 and node -v is 0.10.28 Code is below.  Please see issue #117

[code]

[code]

[2014-05-09 16:11] Linskeyd commented on #117
Hey Adam please take a look at issue #77 that was closed a while ago.  I wonder if third test failing is related to this somehow?  Adding in server side evals which do nothing on each test that uses only client calls allows the tests to pass, but they take around 1.3 seconds to complete which is pretty long.

[2014-05-09 16:53] AdamBrodzinski commented on #117
@Linskeyd I just tried that but it doesn't make a difference.

However.... while trying that, one time I started up `mongod` without the `--smallfiles --noprealloc --nojournal` and they all passed :smile: Thanks!

passing:
`mongod`

client tests fail:
`mongod --smallfiles --noprealloc --nojournal`

[2014-05-09 17:41] Linskeyd commented on #117
@AdamBrodzinski It worked for me too!!  Thanks :smile:

[2014-05-13 06:49] aramk opened #119 "Using npm modules"
Is there an easy way to use npm modules within tests? https://github.com/zvictor/laika-extended-example/blob/master/tests/%24setup.js uses `should` by installing it globally, but the https://www.npmjs.org/doc/faq.html says this shouldn't be used for `require()`.

I'm trying to mock objects with Sinon.JS but installing it globally doesn't add the dependency with `require()`, so I tried using `Npm.d

[2014-05-13 07:52] aramk opened #120 "setup() and teardown() methods?"
I was surprised that the documentation didn't mention any setup() and teardown() methods. Looking at `globals` I can see that they're defined in side the `suite`, by I'm not sure if it's from another library or not. I can't find any mention of them in the code.

[2014-05-14 16:46] fpoirier1 commented on #48
+1

[2014-05-19 19:40] apendua commented on #59
@arunoda Do you think we could implement this patch into `laika`?

[2014-05-20 01:29] magee commented on #48
+1

[2014-05-20 22:12] apendua commented on #60
@kschzt Please see #121

[2014-05-20 22:12] subhog commented on #62
Would it be possible to replace Phantom.js with [Zombie.js](http://zombie.labnotes.org/)? That should speed things up significantly.

[2014-05-20 22:14] apendua commented on #62
@subhog :+1:

[2014-05-21 15:17] neonsamurai commented on #120
I wondered myself what the pattern is for setup/teardown in laika?

The methods exist and get called, but I can't seem to pass done, server, client objects to them which make them kinda useless unless I am missing something?

[2014-05-24 02:44] AdamBrodzinski commented on #48
+1 using coffeescript in meteor and tests on 0.8.1.2

Getting either a timeout, or `SyntaxError: Unexpected token {`, sometime both.

If I downgrade `.meteor/release` to `0.8.0.1` and run mongod using just `mongod` it will pass every few tries.

However, if i'm running `0.8.0.1` and use `mongod --smallfiles --noprealloc --nojournal` then it passes every time (or at least 15x in a row).

The bummer

[2014-05-28 20:38] teonimesic commented on #48
+1 using coffeescript in meteor 0.8.1.3. Increasing timeout to 10000ms worked for me, at least most of the times.

[2014-05-28 21:03] AdamBrodzinski commented on #48
@teonimesic did you have to use the `--smallfiles --noprealloc --nojournal` flags with `mongod`? I tried bumping up mine to 20000ms with no luck.

[2014-05-28 23:00] apendua commented on #48
The problem you are experiencing is in fact not a **BUG** but a test written improperly. If you tried to debug a little deeper within **laika** source code, you would notice that the `SyntaxError: Unexpected token {` is thrown by the `JSON.parse` being feed with a `JSON` string of the form `{...}{...}`.

The reason this is happening is how the `server.eval` routine works. It sends a `JSON` describ

[2014-05-28 23:18] AdamBrodzinski commented on #48
Ah good catch @apendua ! :beers:

It turns out I didn't actually need to use two separate evals anyhow. That explains the occasional syntax error. I'm still having timeout issues with 0.8.1.x though. Are you experiencing the same?

[2014-05-29 09:56] apendua commented on #48
@AdamBrodzinski I haven't tested with laika on 0.8.1.x, so I cannot tell. But you can try using my very own [fork](https://github.com/apendua/laika), `devel` branch where I have already fixed some stuff related to `setTimeout` BUG in `phantomjs`. This problem actually prevented `waitForDOM` to work as expected, so if this may be a source of your problems.

[2014-05-29 14:05] ghost opened #126 "Possible to pass function into client evalSync?"
From what I understand of the code, it's not possible to pass functions as parameters into evalSync for the client... because the parameters eventually get stringified by phantom and that means only valid JSON types can be passed.

I'm trying to achieve something like this...

[code]

Obviously this isn't going to work, because "helpers" isn't defined after the evalSync function is injected. I don

[2014-06-05 14:59] ScOut3R opened #129 "Unexpected end of input in node modules"
Hi there,

i'm newbie with meteor and i'm just trying out laika but having an issue running it.

Here's the simple test code i'm trying to run:

[code]

And here's laika's output:

[code]

As you can see the test is almost the same as the very first example in the docs so i haven't wandered far before hitting this problem. I'd really appreciate any help. Thanks!

Mate

[2014-06-06 19:29] kaushik1979 opened #130 "Can you add a publish-subscribe test example using laika"
Arunoda,

I have a pre-existing code, which uses publish subscribing for data between client and server. Testing server-publisher is becoming very slow and complicated in the existing project so I decided to integrate with laika so that I can quickly test the publishers and push it out for other team members to use.

Can you give an example where publishers reside in server/ directory and then the

[2014-06-09 20:50] rootedsoftware opened #131 "error: File not found: client/meteor-suite-client.js"
The server side console is printing this error anytime I start meteor

[code]

What am I missing here?

[2014-06-12 13:59] iansinnott commented on #113
Try putting it anywhere in your `tests/` directory while omitting 'var':

[code]

Also check out this: https://github.com/zvictor/laika-extended-example

I'm not sure if there is a defined place for helpers, but this has been working for me by putting all helpers in `tests/setup.js`. The Laika documentation has _a lot_ of room for improvement with regards to extensibility.

[2014-06-12 14:06] iansinnott opened #133 "Adding Client-side Helpers Within PhantomJS"
There doesn't seem to be a good way to hook into PhantomJS and add custom code. Maybe this could be accomplished by adding an `onInitialized` callback to the PhantomJS instance. This would be a huge improvement and would probably solve quite a few of the open issues here.

For anyone who needs to include helpers on the client side _now_, you can just put them in your client-side meteor code:

[cod

[2014-06-12 20:15] iansinnott opened #134 "Only Partial Mocha Support?"
I thought Laika just runs on top of Mocha while providing a bunch of useful meteor-specific features. But I've run into a few things that don't seem to work in Laika such as skipping tests, or using placeholder tests:

[code]

The code above breaks my tests. Any way to update this so that it supports everything in Mocha?

[2014-06-18 08:25] ghost commented on #133
There is way you can keep your helpers in <code>tests/</code> but it's a little messy.

I just <code>toString</code> all of my helpers, passed it as a parameter to evalSync and then eval on the other side.

[2014-06-18 09:40] andrashee opened #135 "Save output of mocha reporter to file"
Hi,
I have a question regarding the save process of the report. I would like to save the xunit (generate using `--reporter xunit`) to a file without the messages of laika. How can I do that?

[2014-06-24 18:47] pawelos88 commented on #115
It's the same for me - I have to clear mongodb working directory after each test run.

[2014-06-25 12:08] mhhf opened #136 "Fiber error on startup"
I get an Fiber error when I try to set up Laika(0.3.7, devel) with my current Projekt.

[code]

I use Fibers within my project, which maybe could cause this problem. With other projects, Laika works fine, out of the box!
Is there a solution or some workaround for this?

[2014-07-02 17:13] andyp22 commented on #108
I was having this problem and the solution posted by zs-zs in https://github.com/arunoda/laika/pull/110 worked for me.

[2014-07-02 19:04] bitomule opened #137 "Codeship Phantom error"
I've some tests working perfectly on my computer but I get this error on Codeshipt:

[code]

I know this could be related to PhantomJS, but yesterday it was working, just added some tests and not it crashes. Anyone with this error?

[2014-07-02 19:12] #137 closed, assigned to nobody

[2014-07-08 18:57] cwohlman opened #139 "Laika destroys dates when passed using eval"
When you pass objects using eval, Laika doesn't preserve dates as dates, but instead converts them to strings.

This is likely the result of laika using JSON.parse instead of the Meteor (EJSON?) equivalent.

[2014-07-20 12:53] nickserv commented on #115
@VasilySizov If possible, please edit your post and surround the log info with ``` to make a markdown code block. It seems like a bunch of issues were accidentally tagged because of the line numbers.

[2014-07-20 12:55] nickserv commented on #17
I am using Node v0.10.29. I tried wiping my Mongo DB as per #115's suggestion, though it still hangs for some reason. Any other ideas for a temporary fix?

[2014-07-21 00:28] nickserv commented on #17
Oddly enough, I am now getting this issue on Travis CI. Travis creates a brand new VM for every build that reinstalls things like Meteor and Laika, so everything Laika uses would be cleared. However, my builds still seem to still hang. [Here's an example build that errors because of a Laika hang.](https://travis-ci.org/nicolasmccurdy/rose/builds/30406870)

I'm going to try and run a bisect in a bi

[2014-08-08 20:22] noahadler commented on #91
I'd love if Laika just picked up .coffee tests automatically

[2014-09-05 13:17] ido-ran opened #140 "Cannot file module .meteor/release/METEOR@0.9.1.release.json"
I'm following this [this tutorial](http://mherman.org/blog/2014/01/29/meteor-dot-js-in-action-create-an-app-test-with-laika/#.VAmrrmSSzKg) and when I try to run Laika test I get the output bellow.

I'm new to meteor and Laika so I might configure something wrong.

[code]

[2014-09-06 21:19] jasperkennis commented on #140
Got the same problem. It's because it's looking in the wrong folder I guess, but I can't figure out how to use the `path filter` argument.

[2014-09-14 14:48] dfucci commented on #140
Got the same with meteor v 0.9.1.1 and Laika 0.3.9

[2014-09-16 10:48] lacco commented on #140
Looks like a change in Meteor >= 0.9.0 doesn't generate the expected file anymore for current Meteor version. I am on Meteor 0.9.2 and get `Cannot find module '/Users/xxx/.meteor/releases/METEOR@0.9.2.1.release.json'`.

I have the following files:

[code]

[2014-09-18 01:09] ghost opened #141 "How to pass start parameters to Laika? IP Binding Issues"
There is new IP binding issue with Meteor since 0.9.2. https://github.com/meteor/meteor/issues/2596. To start Meteor in a lot of dev environments now means having to run meteor like this:

meteor -p 0.0.0.0:3000

How do I control the parameters for how Laika runs Meteor?

[2014-09-18 01:18] ghost commented on #141
It looks like the fix for this is coming in 0.9.2.2 - https://github.com/meteor/meteor/issues/2620

[2014-09-18 01:18] #141 closed, assigned to nobody

[2014-09-18 08:53] ghost opened #142 "Can't run Hello World sample on Nitrous with Meteor 0.9.2.2"
I am trying to get setup to do testing with Meteor. I use Nitrous.io for my development - not sure if that has any correlation to this or not.

Meteor is installed and reports v0.9.9.2
PhantomJS is installed reports v1.9.7
Mocha is installed and reports 1.21.4
Laika is installed and reports v0.3.9

I can run the app in meteor normally with no errors.
When I try to run laika, it just hangs after "l

[2014-09-22 23:34] jwjames commented on #140
+1 I also have this problem.

[2014-09-23 00:31] jwjames commented on #140
I uninstalled and reinstalled meteor and it appears that there is no releases file for 0.9.2.

[2014-09-26 09:46] apendua commented on #140
@ido-ran @jwjames Please try out my branch. This should already work now.

[2014-09-26 10:33] dfucci commented on #140
upgraded today to 0.9.3 and tried @apendua branch
Now laika gets stuck at _loading phantomjs_

[2014-09-26 10:36] apendua commented on #140
@dfucci Are you sure the development bundle is not being downloaded in the background?

[2014-09-26 10:43] apendua commented on #140
@dfucci I have tried it locally and it works just fine with `0.9.3`. If you're expecting problems they might be cause by something else, like updating packages or something.

[2014-09-26 10:46] dfucci commented on #140
@apendua do you mean the XCode Command Line Tools? These are already installed.
Just tried on an freshly created meteor project and still got

[code]

[2014-09-26 10:54] #140 closed, assigned to nobody

[2014-09-26 14:33] apendua commented on #140
@dfucci If laika is trying to look for that file it means you're not using the latest version. I can see that @arunoda has already published a new version to the npm repository, so you may want to update your installation.

[2014-09-26 14:35] apendua commented on #142
@chrismbeckett Can you try updating laika to `0.3.10`?

[2014-10-04 18:17] ghost commented on #142
I have similar issue on Meteor 0.9.3 and Laika 0.3.10, tried with a clean app. @chrismbeckett did you solve this?

[2014-10-04 20:01] ghost commented on #142
I am doing all my testing with CasperJS and Mocha-CasperJS now. It's just easier, and it works. It's functional testing, not real unit testing, but I can build test harnesses and write tests to exercise specific code paths so in the end I get the pass or fail on the things I care about.

[2014-10-04 20:01] #142 closed, assigned to nobody

[2014-10-04 20:13] ghost commented on #142
Thanks @chrismbeckett, looks nice too, I'll try it. But also want to try laika, I like the stable thing in mup, and i'm sure that laika has the same. @chrismbeckett do you know what it can be?

[2014-10-15 06:30] aramk opened #146 "Delay before running tests"
There's about a 1 minute delay after "Ok, everything's ready. Here comes Meteor!" appears and the server starts up. There's no CPU activity during this time and it then resumes normally with "[app touch log] => Started proxy."

I noticed this issue after updating to 0.9.4 and it might be causing either a timeout or an unintended wait.

[2014-10-18 02:20] Gaelan opened #147 "Integrate with Velocity"
Velocity is a really nice framework for testing with meteor. Integration with velocity would be really nice.

[2014-11-04 16:33] apendua commented on #134
@iansinnott Not yet. The problem is that we're currently bounded to a Arunoda's fork of the original mocha and also laika is overwriting some mocha original functions. We are currently working on fixing this problem.

[2014-11-23 09:08] frozeman opened #148 "Laika doesn't work with velocity tests."
I tried to add laike to an app where i have also the `sanjo:jasmine` velocity package add. It fails stating:

[code]

If i remove `sanjo:jasmine` it fails, because it want to read also the jasmine test files:

[code]

Could you add an option to specify the folder in which laika is looking for the tests?
All velocity frameworks must be placed inside a folder named after the testing framework like `

[2014-11-23 17:51] apendua commented on #148
@frozeman I think this option is already there:

https://github.com/arunoda/laika/issues#L8

Can you please verify if it fulfills your needs?

[2014-12-04 16:27] apendua commented on #147
To my understanding both laika and velocity serves the same goal and that is to spawn a sandbox meteor environment for running tests. I really doubt there's a reasonable way to integrate those two frameworks.

[2014-12-13 14:35] aramk opened #150 "Prevent installing with mrt"
I tend to develop meteor packages locally by creating symbolic from the `packages` directory. When running `mrt`, these are removed, but since I use Meteor's own package manager, there's no need to run `mrt` anyway. The issue is that Laika always runs Meteor through `mrt`, removing these symlinks. It would be nice to have a `no-mrt` option to avoid this and run `meteor` directly.

[2014-12-13 15:37] apendua commented on #150
I think it depends on the existence of smart.json file in your project root
directory. Can you try removing it and see what happens? If it does not
help we can surely implement the solution your talking about.

W dniu sobota, 13 grudnia 2014 Aram Kocharyan notifications@github.com
napisał(a):

[2014-12-14 10:36] aramk commented on #150
Hi @apendua. Removing `smart.json` works as a temporary solution as long as it's added back after running the tests. It still has the purpose of specifying the external, unpublished packages (most of them forks) used in the project, so removing them permanently isn't an option. I suspect replacing the invocation of `mrt` to `meteor` within laika if an option is provided would work well.

[2014-12-14 13:00] apendua commented on #150
@aramk I agree. Can you implement this fix and submit a PR? I would also suggest looking into another testing solution which I am currently working on:
https://github.com/anticoders/gagarin

[2014-12-14 13:01] apendua commented on #146
@aramk Good catch! Can you provide more details on how to reproduce this error?

[2014-12-14 13:02] apendua commented on #139
@cwohlman Yes, exactly. Using EJSON would probably solve this issue.

[2014-12-15 00:36] aramk commented on #146
I think it's actually resolved now - I haven't been having this issue with Meteor 1.0.

[2015-03-07 14:38] ghost opened #151 "Hangs on loading phantomjs..."
`phantomjs` command works. `mogod` is started is started but it hangs at saying loading phantomjs.. i have left it for a while also to see if it loads at end but nothing

[2015-03-07 15:47] apendua commented on #151
@MurWade Interesting. Have you tried running `laika` in verbose mode to get some more feedback? You can also try switching to [gagarin](https://github.com/anticoders/gagarin).

[2015-03-08 00:53] ghost commented on #151
Yes and this is the output i get

[code]

I also tried cloning the [Hello-laika](https://github.com/arunoda/hello-laika) example and that also doesnt work. this is the output i get for that

[code]

[2015-03-16 15:58] yasuba commented on #151
I have the same problem (both with my own app and with the hello-laika example). I tried installing an earlier phantomjs, but still no joy.

[2015-03-16 16:01] apendua commented on #151
@MurWade @yasuba If you guys are starting a new project, please try using Gagarin instead. If you already have a bunch of tests written in Laika and you don't want to rewrite them from scratch let me know and I will try to find time to investigate this issue.

[2015-03-16 16:06] yasuba commented on #151
Ok, will start again with gagarin - thanks @apendua .

[2015-06-04 08:49] Shekharrajak opened #152 "Getting error during installation ."
Tried in many ways but not able to install laika.
![laika](https://cloud.githubusercontent.com/assets/5774448/7980396/c32c97b8-0ac4-11e5-809e-bcc5bbff668e.PNG)

[2015-06-04 08:58] arunoda commented on #152
Liaka is dead. Use Velocity.

On Thu, Jun 4, 2015 at 2:20 PM Shekhar Prasad Rajak <
notifications@github.com> wrote:

[2015-06-04 11:14] Shekharrajak commented on #152
Sir ,What I have to do so that I won't get this configuration pop-up .
![config twitter](https://cloud.githubusercontent.com/assets/5774448/7982927/f1c43df6-0ad8-11e5-9819-f12dea792c04.PNG)

[2015-06-04 11:35] apendua commented on #152
@Shekharrajak You can also try [gagarin](https://github.com/anticoders/gagarin).

[2015-06-04 11:35] apendua commented on #152
We've added windows support quite recently.

[2015-06-04 12:09] arunoda commented on #152
Oh yeah. Of course :)
On 2015 ජූනි 4, බ්‍රහස් at ප.ව. 5.05 Tomasz Lenarcik <
notifications@github.com> wrote:

[2015-06-04 12:21] Shekharrajak commented on #152
:+1:
I solved that problem and learn another new way.
Thanks a lot. @arunoda @apendua

[2015-06-04 12:22] #152 closed, assigned to nobody

[2015-06-19 22:23] gregorynicholas opened #153 "passing --settings"
- how do you pass the `--settings` to the meteor command?

[2015-06-19 22:29] gregorynicholas opened #154 "console logging"
- is it possible to capture the console statements / jsonify objects?

see difference:

browser console:
![screen shot 2015-06-19 at 3 28 36 pm](https://cloud.githubusercontent.com/assets/407650/8264165/e80a0d0c-1697-11e5-8c48-577c1a6d4fae.jpg)

laika terminal output:
![screen shot 2015-06-19 at 3 27 38 pm](https://cloud.githubusercontent.com/assets/407650/8264160/d28069a4-1697-11e5-97e5-d3b425382

[2015-11-19 08:36] toitoi opened #155 "laika couldn't run in meteor app"
C:\Users\xxx\meteor_proj\meteor-base-blaze-boilerplate>laika -V
[laika log] accepting the following extensions: (js)

injecting laika...
loading phantomjs...
cleaning up injected code

C:\Users\xxx\AppData\Roaming\npm\node_modules\laika\lib\app.js:124
if(err) throw err;
^

Error: spawn meteor ENOENT
at exports._errnoException (util.js:856:11)
at Process.ChildProcess._handle.onexit (internal/child_

[2015-11-28 10:03] apendua commented on #155
Laika is no longer actively maintained. Would you consider using Gagarin
instead? It has a good windows support.

W dniu czwartek, 19 listopada 2015 SK. Ng notifications@github.com
napisał(a):

[2018-11-30 06:21] #135 closed, assigned to nobody

[2019-11-27 17:26] #106 closed, assigned to nobody